.bbs-category{font-weight: 300;margin-bottom: 1.875em;position: relative;}
.bbs-category .txt{position: absolute;left: 0;bottom:0;font-size: 1.125em;}
.bbs-category select{float: left; width: 237px;padding-left: 1.25em;}
.bbs-category .bbs-sch{float: right; width: 390px}
.bbs-category.sel select{margin-left: 10px;}
.bbs-category.sel select:first-child{margin-left: 0;}
.bbs-category .bul-mark{margin-top: 0.5em;font-size: 16px;font-size: 1rem;}

.bbs-category .bbs-sch_w{float: right; width: 570px;position: relative;padding-right: 178px;}
.bbs-category .bbs-sch_w .bbs-sch{float: none;width: 100%}
.bbs-category .bbs-sch_w .btn,.bbs-category .select_w button{position: absolute;right: 0;top:0;width: 168px;height: 100%;;font-weight: 500;display: block;text-align: center;line-height: 4.15em;font-size: 14px;font-size: 0.875rem;}
.bbs-category .select_w button{line-height: 1;height: 100%;background: #333;color: #fff;height:60px;height: 3.75rem;width: 80px}
.bbs-category .select_w{position: relative;padding-right: 80px;}

.bbs-category select,.bbs-sch{border:1px solid #c2c2c2;height:3.750em;color: #333}
.bbs-category.type2 form{display:flex;}
.bbs-category.type2 .btn-normal{min-width: 170px; margin-left: auto; margin-right: 10px; justify-self: flex-end; display: inline-flex; align-items:center; justify-content: flex-end; line-height: 1; padding:0 20px; color:#111; border:1px solid #000; font-size: 16px; font-weight: 500; line-height: 1;}

.bbs-category select:focus,
.bbs-sch.focus{border-color:#111;}
.bbs-sch_w-st1 > button,.bbs-sch_w-st1 > .btn{height: 3.75em}
.bbs-sch_w-st1 > .btn{line-height: 3.7em;display: inline-block;text-align: center;}
.bbs-sch{position: relative;padding-right: 3em}
.bbs-sch input{padding: 0 1.25em;border:0;height: 100%;width: 100%}
.bbs-sch button,.bbs-sch .btn{position: absolute;right: 0;top:0;width: 3em;height: 100%;background: url('../img/bbs/sch.gif') center center no-repeat;background-size:1.500em;white-space: nowrap;overflow: hidden;text-indent: -999px}
.bbs-sch_w-st1{text-align: right;margin-bottom: 2em;}
.bbs-sch_w-st1 .bbs-sch{width: 390px;display: inline-block;}
.bbs-sch_w-st1 > button,.bbs-sch_w-st1 > .btn{width: 168px;margin-left: 10px;font-weight: 500;}

.notice-slider{position:relative; display:flex; align-items:center; justify-content:center; width:100%; max-width:1400px; height: 71px; margin: 0 auto 55px; background-color: #f4f4f4; border:1px solid #000;}
.notice-slider .slider{width:100%; padding:0 34px 0 30px;}
.notice-slider .slide{display: flex; align-items:center; font-size:22px; line-height: 1;}
.notice-slider .slide::before{content:''; display:inline-flex; min-width: 36px; height: 36px; margin-right: 20px; background:url('../img/bbs/ico_notice.png') 0 0 no-repeat;}
.notice-slider .slide:focus{position:relative; z-index:1; border:1px solid blue;}
.notice-slider .slide .title{font-weight: 500; }
.notice-slider .slide .date{font-weight: 600; color:#111; margin-left: 5px;}
.notice-slider .btn-wrap{width: 35px; height: 71px; position:absolute; right: -1px;}
.notice-slider .btn-wrap button{position:absolute; display:inline-flex; width:35px; height:36px; border-color:#000; border-style:solid; background-position:center center; background-color:#fff; background-repeat: no-repeat;}
.notice-slider .btn-prev{background-image:url('../img/bbs/ico_top.png'); top: 0; border-width:1px 1px 0 1px;}
.notice-slider .btn-next{background-image:url('../img/bbs/ico_btm.png'); bottom: 0; border-width:1px;}

.top-st1{margin-bottom: 3em;}
.top-st1 .txt{margin-bottom:1.5em;font-weight: 300;}

.paging_w,.paginationSet{margin-top: 3.750em; font-weight: 700;}
.paging_w ul,.pagination{font-size: 0;text-align: center;}
.paging_w li,.pagination li{font-size: 20px;font-size: 1.25rem;display: inline-block;margin: 0 1em;vertical-align: middle;}
.paging_w .active,.pagination .active{text-decoration: underline; text-decoration: underline; border:1px solid #000; padding: 0 10px}
.paging_w .arrow,.pagination .i{white-space: nowrap;overflow: hidden;text-indent: -999px;background: url('') center center no-repeat;width: 0.700em;height: 0.550em;background-size:100%}
.paging_w .first,.pagination  .first{background-image: url('../../commons/img/bbs/first.gif')}
.paging_w .prev,.pagination  .prev{background-image: url('../../commons/img/bbs/prev.gif');margin-left: .3em;}
.paging_w .next,.pagination  .next{background-image: url('../../commons/img/bbs/next.gif');margin-right: .3em;}
.paging_w .last,.pagination  .end{background-image: url('../../commons/img/bbs/last.gif')}
.paging_w a,.pagination a{display: block;}
.pagination a{position: relative;}
.pagination a:focus:before{position: absolute; left: 0; top:0;right: 0;bottom: 0; border:2px solid #000; content: ''}

.bbs-list{width: 100%;text-align: center;border-top:2px solid #000;}
.bbs-list th{padding: 20px 10px;font-weight: 400;border-bottom:1px solid #000}
.bbs-list .event-date br{display:none;}
.bbs-list td{padding: 21.5px 10px;font-weight: 300;border-bottom:1px solid #e3e3e3;color:#666;}

.bbs-list tr.notice td{background-color:#f8f8f8;font-weight:400;}
/*.bbs-list tr:first-child td{padding-top:24px}*/
/*.bbs-list tr:last-child td{padding-bottom:24px}*/
.bbs-list td.tit{text-align: left;font-weight: 300;font-size:1.13em;}
.bbs-list td.tit a{color:#111;}
.bbs-list .tit .lock{background: url('../img/bbs/lock.png') right center no-repeat;width: 14px; height: 17px;white-space: nowrap;overflow: hidden;text-indent: -999px;margin-left: 8px;display: inline-block;}
.bbs-list a:hover{text-decoration: underline}
.bbs-list .state-st1{padding: 3px 5px;min-width: 3.438em;display: inline-block;text-align: center;}

.bbs-list2{width: 100%;border:1px solid #111;text-align: center;border-left: 0;border-bottom: 0;}
.bbs-list2 th,.bbs-list2 td{padding: 1.25em 10px;border-bottom: 1px solid #111;border-left: 1px solid #000;}
.bbs-list2 th{background: #f7f7f7;font-weight: 700;;color: #000}
.bbs-list2 td{font-weight: 300}
.bbs-list2 td.tit{text-align: left;font-weight: 400;padding-left: 1em;padding-right: 1em;}
.bbs-list2 a:hover{text-decoration: underline}
.bbs-txt{font-size: 1.111em;text-align: right;margin-bottom: 1em;font-weight: 300;}

.bbs-faq{border: 1px solid #111;border-bottom: 0;}
.bbs-faq .item{border-bottom: 1px solid #111;}
.bbs-faq .q{display: table; width: 100%;height: 110px;font-size: 1.25em;padding: 0 60px}
.bbs-faq .q > span{display: table-cell;vertical-align: middle;}
.bbs-faq .num{width: 150px}
.bbs-faq .sort{width: 150px}
.bbs-faq .a{border-top: 1px solid #000;padding: 60px;font-size: 0.875em;background: #f7f7f7;display: none;}
.bbs-faq .t{color: #111;font-weight: 700;background: url('../img/bbs/faq.png') right center no-repeat;padding-right: 3.5em;}
.bbs-faq .t a{display: block;}
.bbs-faq .active .t{color: #AE4A00;background-image: url('../img/bbs/faq_on.png')}
.bbs-faq .active .t a{display: block;}

.bbs-btn{text-align: right;font-size: 14px;font-size: 0.875rem;margin-top: 2.857em;}
.bbs-btn-st1{text-align: center;font-weight: 500;min-width: 12.571em;height: 4.286em;margin-left:1px;border:1px solid #111; padding: 0 1.3em}
a.bbs-btn-st1{display: inline-block;line-height: 4em;}
.bbs-btn-st1.bg-purple,.bbs-btn-st1.bg-purple3{border-color:#000}

.bbs-btn-st1:first-child{margin-left: 0;}
.bbs-btn-st1 span{background:url('') center center no-repeat;background-size:100%;display: inline-block;margin-left: 0.571em;}
.bbs-btn-st1.write span{background-image: url('../img/bbs/btn-write.gif');width: 1.071em;height: 1em;}
.bbs-btn-st1.cancle span{background-image: url('../img/bbs/btn-cancle.gif');width: 0.938em;height: 0.750em;}
.bbs-btn-st1.list span{background-image: url('../img/bbs/btn-list.gif');width: 0.938em;height: 0.750em;}

.bbs-btn-st2{text-align: center;font-weight: 500;width: 12.571em;height: 4.286em;margin-left:1px;font-size:16px;font-size:1rem}
.bbs-btn-st2:first-child{margin-left: 0;}
a.bbs-btn-st2{display: inline-block;line-height: 4em;vertical-align: middle;}

.bbs-write .top{border-bottom: 1px solid #ddd;padding-bottom: 1.875em;font-weight: 300;margin-bottom:1.875em}
.bbs-write .top .t{border-bottom: 1px solid #ddd;font-size:30px;font-size: 2rem;padding-bottom: 0.667em;margin-bottom: 0.8em;line-height:1;letter-spacing: -0.03em}
.bbs-write .txt{line-height: 1.87;}
.bbs-write .caution-box{margin-top: 1.429em}

.bbs-write .form .t{display: block;color: #111;font-weight: 500;line-height: 1.15;margin-bottom: .8em;}
.bbs-write .form .li3 > ul{margin-left: -2%;}
.bbs-write .form .li3 > ul> li{float: left; width: 31.33333333333333%;margin-left: 2%;}
.bbs-write .form .li2 > ul{margin-left: -2%;}
.bbs-write .form .li2 > ul> li{float: left; width: 48%;margin-left: 2%;}
.bbs-write .form .group{margin-top: 1.875em;}
.bbs-write .form .group:first-child{margin-top: 0;}
.bbs-write .form input[type="text"],.bbs-write .form select,.bbs-write .form textarea,.bbs-write .form .box{border:1px solid #111;width: 100%}
.bbs-write .form input[type="text"],.bbs-write .form select{padding: 0 20px; height: 3.750em}
.bbs-write .form .box{padding: 17px 20px 20px;line-height: 1.15;}
.bbs-write.sketch .form .box{padding: 14px 20px 10px;}
.bbs-write .form .box span{display: inline-block;margin: 0 1.5em 0 0}
.bbs-write.sketch .form .box span{margin-bottom: 8px;}
.bbs-write .file label{line-height: 3.313em;}
.bbs-write .file label{line-height: 60px;line-height: 3.750rem}
.bbs-write .form .box input[type="checkbox"]{}
.bbs-write .form textarea{padding: 20px;height: 350px;display: block;}
.bbs-write .form input[type="radio"]{margin:0}
.bbs-write .form .box label{margin: 0 0 0 3px;}
.bbs-write .form .box span:last-child{margin-right: 0;}
.bbs-write .file{margin-top: 10px;position: relative;}
.bbs-write .file:first-child{margin-top: 0;}
.bbs-write .file label{position: absolute;right: 0;top:0;width: 150px;height: 100%;text-align: center;background: #333;color:#fff;font-weight: 500;font-size: 14px;font-size: 0.875rem;}
.bbs-write.sketch .form{font-size: 1.125em}
.bbs-write.sketch .form input[type="text"], .bbs-write.sketch .form select,.bbs-write.sketch .btn button{height: 60px;height: 3.750rem}
.bbs-write.sketch .btn{position: relative;padding-right: 200px;padding-right: 12.500rem;}
.bbs-write.sketch .btn button{position: absolute;right: 0;font-size: 14px;font-size: 0.875rem;width: 200px;width: 12.500rem}
.bbs-write.sketch .file label{line-height: 50px; line-height: 3.15rem;}

.bbs-event{margin-left: -2%;}
.bbs-event > li{float: left; width: 23%;margin: 0 0 2% 2%;border:1px solid #111;position: relative;}
.bbs-event > li > a{display:block;}
.bbs-event > li .img{position: relative;padding-bottom: 37.7%;overflow: hidden;background: #556080}
.bbs-event > li .img img{position: absolute;left: 0;top:0;width: 100%;display: block;right: 0;bottom: 0;margin: auto;}
.bbs-event .cont{font-size: 0.875em;color: #666;padding: 20px}
.bbs-event .cont > *{display: block;}
.bbs-event .cont .t{color: #111;font-size: 1.286em;font-weight: 400;height: 3em;overflow: hidden;margin-bottom: .8em;}
.bbs-event .label{position: absolute;left: 0;top:0;text-align: center;display: block;width: 6.071em;height: 2.143em;line-height: 2em;font-size: .933em;z-index: 1}

.bbs-newsletter{margin-left: -2%;}
.bbs-newsletter > li{float: left; width: 23%;margin: 0 0 2% 2%;border:1px solid #111;position: relative;}
.bbs-newsletter > li .img{position: relative;padding-bottom: 79.5%;overflow: hidden;background: #000}
.bbs-newsletter > li .img img{position: absolute;left: 0;top:0;right:0;bottom:0;width: 100%;display: block;margin:auto}
.bbs-newsletter .cont{font-size: 0.875em;color: #666;padding: 20px}
.bbs-newsletter .cont > *{display: block;}
.bbs-newsletter .cont .t{color: #111;font-size: 1.286em;font-weight: 400;overflow: hidden;margin-bottom: .8em;white-space:nowrap;text-overflow:ellipsis}

.btn-back{font-size: 18px;font-size: 1.200rem;font-weight: 300;background: url('../img/bbs/btn-back.gif') left center no-repeat;padding-left: 1.1em;letter-spacing: -0.03em}
.bbs-view{}
.bbs-view .btn-back{position: absolute;left: 0;top:-2.3em}
.bbs-view .in{border-top:2px solid #000;border-bottom:1px solid #000;}
.bbs-view .tit{width: 100%;font-weight:300;font-size:2em;line-height:1.11em;padding:20px;border-bottom:1px solid #000;}
/*.bbs-view .tit > *{display: table-cell;vertical-align: middle;}*/
.bbs-view .tit .cate{line-height:24px;padding:0 20px;border:1px solid #000;font-weight:300;display:inline-block;font-size:1rem;}
.bbs-view .tit .cate strong{font-weight:inherit;line-height:1;}
.bbs-view .tit .cate+.t{margin-top:35px;}
.bbs-view .tit .t{font-weight:500;margin-bottom:20px;}
.bbs-view .tit .t strong{font-weight:500;}
.bbs-view .tit .date{font-size: .933rem;color:#666;letter-spacing: -0.05em;}
.bbs-view .tit .date span{display:inline-block;padding:0 0 0 50px;position:relative;}
.bbs-view .tit .date span:first-child{padding-left: 0;}
.bbs-view .tit .date span+span:before{content: '';height:15px;height:.938rem;border-left:1px solid #dddddd;position:absolute;left:25px;top:50%;margin-top:-7.5px;margin-bottom: -.47rem;}
.bbs-view .tit .date em{color:#111;display:inline-block;margin-left:5px;}
/*.bbs-view .tit.long .date{width: 130px;text-align: left;}*/
/*.bbs-view .tit .date span{margin-top: .5em;display: block;}*/
/*.bbs-view .tit .date span:first-child{margin-top: 0;}*/
.bbs-view .cont{padding: 30px 20px;text-align: left;overflow: auto;}
.bbs-view .cont table{width: 100%; max-width:100% !important}
.btn-list_w{text-align: right;margin-top: 2.5em;}
.btn-list_w.item2 > *{vertical-align: middle;margin-left:5px;}
.btn-list_w.item2 > *:first-child{margin-left: 0;}
.btn-list_w2{margin-top: 1.333em;}
.btn-list_w2 .txt{float: left;font-weight: 300;}
.btn-list_w2 > button,.btn-list_w2 > a{float: right;}
.btn-list{font-size: 14px;font-size: .933rem;width: 12.500em;height: 4.286em;border:1px solid #000;text-align: center;line-height: 4.286em;font-weight: 500;}
.btn-hire{font-size: 14px;font-size: .933rem;height: 4.286em;text-align: center;line-height: 4.286em;padding: 0 20px;display: inline-block;}
.btn-list span{padding-right: 2.143em;background: url('../img/bbs/btn-list.gif') right center no-repeat}
.bbs-view .tit .label{font-size: 18px;font-size: 1.200rem;margin-bottom: 1em;font-weight: 300;}
.bbs-view .attach{font-size:14px;font-size:0.875rem;margin-bottom: 3em;}
.bbs-view .attach li{padding-right: 2.15em;background: url('../img/bbs/attach.gif') right center no-repeat}
.bbs-view .attach a{color:#1357bc;border-bottom: 1px solid #1357bc;}

.bbs-reply{margin-bottom: 5em;}
.bbs-reply .t{display: block;font-size: 1.333em;margin-bottom: 1em;line-height: 1.15;}
.bbs-reply .t span{font-weight: 400;}
.bbs-reply .t .color-purple{color: #AE4A00}
.bbs-reply .write{background: #e5e5e9;padding: 1.333em; border:1px solid #000}
.bbs-reply .write .bg{position: relative;padding-right: 150px;}
.bbs-reply textarea{width: 100%;display: block;background: #fff;border:0;padding: 30px;font-size: 14px;height: 130px}
.bbs-reply .write .bg button{position: absolute;right: 0;top:0;width: 150px;height: 100%;background: #000;text-align: center;color: #fff}
.btn-replay{font-size: 16px;font-size: 1.067rem;font-weight: 500;}
.btn-replay span{background: url('../img/bbs/btn-reply.png') left center no-repeat;padding-left: 1.25em;}
.bbs-reply .txt{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd; padding: 1em 0}

.replay_l{margin-top: 30px;border-top: 1px solid #000;font-size: 18px;font-size: 1.200rem;}
.replay_l > li{padding: 20px 0;border-bottom: 1px solid #000;}
.replay_l > li > *{display: block;}
.replay_l > li .date{font-size: 0.778em;color:#777}
.replay_l p{margin: 5px 0 .8em 0;}

.bbs-sketch{border-top: 1px solid #000;}
.bbs-sketch > li{border-bottom: 1px solid #000;position: relative;padding-left: 200px;}
.bbs-sketch .cont{vertical-align: middle; padding: 50px 30px}
.bbs-sketch .img{position: absolute;left: 30px;top:50%;margin-top: -110px;width: 155px;height: 215px;overflow: hidden;background: #556080}
.bbs-sketch .img img{position: absolute;left: 0;top:0;width: 100%;display: block;}
.bbs-sketch .cont{font-weight: 300}
.bbs-sketch .cont > span{font-size: 1.200em;display: block;}
.bbs-sketch .cont .t{font-size: 1.600em;margin: 0.833em 0 1em 0;line-height: 1.15; ;display: block;overflow: hidden;height: 2.5em}
.bbs-sketch .label{color:#930c71}
.bbs-sketch .etc{font-size: 0;color:#666}
.bbs-sketch .etc > *{display: inline-block;font-size: 14px;font-size: 0.933rem; margin-right: 2em;}
.bbs-sketch .etc > span:last-child{margin-right: 0;}

.bbs-etc{background: #f0f0f0;;margin-top: 2em;display: table;width:100%;font-weight: 300;font-size: 1.067em;}
.bbs-etc > *{display: table-cell;vertical-align: middle;}
.bbs-etc .l{padding: 20px;position: relative;}
.bbs-etc .l > *{display: inline-block;vertical-align: middle;}
.bbs-etc .l dl{margin-left: 50px;}
.bbs-etc .l dt{font-weight: 500;font-size: 1.125em;margin-bottom: 1em;}
.bbs-etc .l dd{margin-top: .3em;}
.bbs-etc .r{width: 375px;border-left: 1px solid #ddd;text-align: center;}
.bbs-etc .r span{display: block;}
.bbs-etc .r .big{font-size: 1.25em;}

.bbs-view .share{position: relative;margin-bottom: .5em;}
.btn-share{padding-left:2.143em ;font-size: 14px; font-size: 0.875rem;}
.btn-share:before{position: absolute; width: 1.500em;height: 1.571em;background: url('../img/common/btn-share.gif') left center no-repeat;position: absolute;content: '';background-size:100%;left:0;top:50%;margin-top: -.75em;}
.bbs-view .btn-share{position: absolute;right: 0;top:-1.87em}
.bbs-view a:focus{outline: 2px solid #000 !important;}

.sketch_write .bg{background: url('../img/bbs/sketch.jpg') center top no-repeat;padding-top: 2em;}
.sketch_write .in{max-width: 898px;margin: 0 auto;}
.sketch_write .t{text-align: center;font-size: 1.067em;font-weight: 300;margin-bottom: 3.750em;}
.sketch_write .t h3{font-size: 1.875em;margin-bottom: .5em;font-weight: 300;color:#000}
.sketch_write .in li{float: right;width: 47.5%;box-shadow:10px 10px 30px rgba(0,0,0,.15);background: #fff;border-left: 10px solid #930c71;font-size: .933em;padding: 50px}
.sketch_write .in li:first-child{float: left;}
.sketch_write h4{font-size: 2.533em; color:#930c71;line-height: 1.15;font-weight: 300;}
.sketch_write h4 strong{display: block}
.sketch_write .blue h4{color: #0e0e71}
.sketch_write .in .blue{border-left-color: #0e0e71}
.sketch_write .cont{font-size: 1.200em;margin: 2.3em 0 2.778em 0;height: 6.111em;font-weight: 300;}
.sketch_write a{display: block;font-weight: 500;text-align: center;display: block;line-height: .933em;line-height: 4.286em;transition:all ease-in-out .3s; background: #fff}
.sketch_write a:hover{background: #f7f7f7}

.bbs-perform_view{font-weight: 300;}
.bbs-perform_view .play{position: relative;padding-left: 1040px}
.bbs-perform_view .play .l{position: absolute;left: 0;top:0;width: 1015px;height: 100%}
.bbs-perform_view .play .l iframe,.bbs-perform_view .play .l #mediaplayer{position: absolute !important;top:0;left:0;height: 100% !important;display: block;width: 100% !important}
#mediaplayer_jwplayer_display{width: 100% !important;height: 100% !important}
.bbs-perform_view .play .r{border-top: 1px solid #000;border-bottom: 1px solid #000;padding-top: 2em;min-height: 330px}
.bbs-perform_view .play .r .tit{font-size: 1.25em;line-height: 1.15;color:#000;margin-bottom: 10px;}
.bbs-perform_view .play .item{padding: 1em 0;border-bottom: 1px solid #ddd;}
.bbs-perform_view .play .r a{position: relative;display: block;padding-left: 45%;}
.bbs-perform_view .play .thumb{position: absolute;left: 0;top:0;width: 40%;padding-bottom: 23%;;overflow: hidden;}
.bbs-perform_view .play .thumb img{position: absolute;left: 0;top:0;width: 100%;display: block;}
.bbs-perform_view .info{line-height: 1.15;}
.bbs-perform_view .info > *{display: block;}
.bbs-perform_view .info .t{height: 2.3em;overflow: hidden;margin-bottom: 1em;color:#000}
.bbs-perform_view .play .r span{font-size: .933em;color:#888}

.bbs-perform_view .cont{margin: 40px 0;border-bottom: 1px solid #000;padding-bottom: 30px;padding-bottom: 1.875rem;}
.bbs-perform_view .cont .tit{font-size: 1.500em;margin-bottom: 10px;line-height: 1.15;color:#000}
.bbs-perform_view .cont .detail{font-size: 1.125em;margin-bottom: 1.667em;}
.bbs-perform_view .cont .info{position: relative;font-size:0.875em;color:#666}
.bbs-perform_view .cont .info span{display: inline-block;margin-right: 2.143em;}
.bbs-perform_view .cont .info span:last-child{margin-right: 0;}
.bbs-perform_view .cont .info .btn-share{position: absolute;right: 0;bottom: 0}

.tbl-recruit{width: 100%;word-break:keep-all}
.tbl-recruit th{background:#e5e5ed;text-align: center;font-weight: 500;color:#0e0e71;padding: 1em}
.tbl-recruit td{padding: 1em;text-align: center;background: #f8f8f8}
.tbl-recruit dt{font-weight: 500;margin-top: 0.5em;}
.tbl-recruit dt:first-child{margin-top: 0;}
.tbl-recruit dd{margin-top: 0.3em;}

.prev_next{line-height: 4em;margin-top:1.25em;font-weight: 400;}
.prev_next dl{position: relative;padding-left: 215px;margin-top: 5px;}
.prev_next dl > *{background: #f0f0f0}
.prev_next dt{width: 210px;text-align: center; position: absolute;left: 0;top:0;height: 100%}
.prev_next dd{padding: 0 30px;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;display: block;}
.prev_next dd a{}
.prev_next .prev{margin-top: 0;}
.prev_next dt span{background: url('') left center no-repeat;padding-left:2.188em}
.prev_next .prev dt span{background-image: url('../img/bbs/prev.png')}
.prev_next .next dt span{background-image: url('../img/bbs/next.png')}
.prev_next a:hover{text-decoration: underline;}

.bbs-today_w .top{position: relative; margin-bottom: 1.875em;}
/* .bbs-today_w .top > *{display: table-cell;vertical-align: middle; width: 50%} */
.bbs-today_w .etc_w{text-align: right;padding: .3em 0 0 0;float: right;}/* 筌뤴뫖以� 占쏙옙占쎌뿯 甕곌쑵�뱣 占쎄텣占쎌젫嚥∽옙 占쎈뮞占쏙옙占쎌뵬 癰귨옙野껓옙 */
.bbs-today_w .etc_w strong{font-size: 1.125em;}
.bbs-today_w .etc_w .type{position: absolute;right: 0;top:50%;margin-top: -1.25em;}
.bbs-today_w .etc_w .type > *{display: inline-block;vertical-align: middle;}
.bbs-today_w .etc_w button{float: left;width: 2.500em;height: 2.500em;white-space: nowrap;overflow: hidden;text-indent: -999px;border:1px solid #ddd;position: relative;background: url('') center center no-repeat}
.bbs-today_w .etc_w .type .list{margin-right: -1px;}
.bbs-today_w .etc_w .type .active{z-index: 1;border:1px solid #000}
.bbs-today_w .etc_w .list{background-image: url('../../commons/img/common/bbs-list.png')}
.bbs-today_w .etc_w .thumb{background-image: url('../../commons/img/common/bbs-thumb.png')}
.bbs-today_w .etc_w .list.active{background-image: url('../../commons/img/common/bbs-list_on.png')}
.bbs-today_w .etc_w .thumb.active{background-image: url('../../commons/img/common/bbs-thumb_on.png')}
.bbs-today_w .category{float: left;}
.bbs-today_w .category > span{display: inline-block;margin-right: 1em;vertical-align: middle;line-height: 1.15;}
.bbs-today_w .category > span:last-child{margin-right: 0;}
.bbs-today_w .category .active{padding: 7px 20px 10px 20px;color:#000;border:1px solid #000;border-radius:30px}


#today{background: url('../img/perform/today.jpg') top center no-repeat; padding-top: 150px;margin: 0 0 50px 0}
#today #loc{color:#fff;margin-bottom: 110px;}
#today #loc li{background-image: url('../../commons/img/common/loc_w.png')}
#today #loc li:last-child{color:#fff}

#today .in{}
#today .s{margin-left: -1.875em;white-space: nowrap;padding-bottom: 2.5em;}
#today .s .item{width: 15.7em;margin-left:1.875em;display: inline-block;vertical-align: top;}
#today .img{position: relative;padding-bottom: 140%;overflow: hidden;background: #556080}
#today .img img{position: absolute;left: 0;top:0;right:0;bottom:0;margin: auto;;width: 100%}
#today .cont{margin-top: 1.875em;line-height: 1.15;}
#today .cont > *{display: block;}
#today .t{font-size: 1.125em;word-break: break-word;display: block;white-space: pre-wrap;line-height: 1.35;}
#today .date{font-size: 13px;color:#777;margin-top:1em;}
#today .img .hover{position: absolute;left: 0;top:0;width: 100%;height: 100%;text-align: center;font-size: 0.875em;border:2px solid #fff;background: rgba(0,0,0,.8);display: none;}
#today .img a{width: 4.500em;height: 4.500em;border-radius:50%;border:2px solid #fff;text-align: center;line-height: 4.3em;font-weight: 500;display: inline-block;margin: 0.05em;}
#today .img .r{color:#000;background: #fff}
#today .img .d{color:#fff}

.bbs-today_thumb{margin: 0 0 -2% -2%; display: flex; flex-wrap: wrap;}
.bbs-today_thumb > li{float: left;width: 18%;padding: 20px;margin: 0 0 2% 2%;border:1px solid #000;position: relative;}
.bbs-today_thumb .img{position: relative;padding-bottom:140%;overflow: hidden;background: #556080}
.bbs-today_thumb .img img{position: absolute;left: 0;top:0;right: 0;bottom: 0;width: 100%;margin: auto;}
.bbs-today_thumb .t{display: block;height: 2.8em;font-weight: 300;font-size: 1.125em;overflow: hidden;margin: 1em 0 0.8em 0;line-height: 1.35;font-weight: 500;}
.bbs-today_thumb .add{margin-bottom: .3em;color: #666;white-space: nowrap;overflow: hidden;margin-bottom: .3em;text-overflow: ellipsis;}
.bbs-today_thumb .etc{font-size: 14px;color:#666;font-weight: 300;}
.bbs-today_thumb .etc .date{float: left;}
.bbs-today_thumb .etc .place{float: right;}
.bbs-today_thumb .img{position:relative}
.bbs-today_thumb a{display: block;}
/* .bbs-today_thumb a:focus:before,
.bbs-today_thumb a:hover:before{
    content:'';
    position:absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index:1;
}
.bbs-today_thumb a:focus:after,
.bbs-today_thumb a:hover:after{
	content:'占쎄맒占쎄쉭';
    position:absolute;
    width: 4.500em;
    height: 4.500em;
    border-radius: 50%;
    text-align: center;
    line-height: 4.3em;
    font-weight: 500;
    left:50%;
    top:50%;
    color:#fff;
    margin-left:-2.25em;
    margin-top:-2.25em;
    z-index:2;
} */

.bbs-today_w .bot{background: #f7f7f7;padding: 70px 0;color:#fff;margin-top: 80px;text-align: center;line-height: 1.15;}
.bbs-today_w .bot .item{float: left;width: 33.33333333333333%}
.bbs-today_w .bot a{display: block;padding: 100px 0;font-size: 0.875em;position: relative;overflow: hidden;}
.bbs-today_w .bot strong{font-size: 1.714em;font-weight: 400;}
.bbs-today_w .bot strong,.bbs-today_w .bot span{display: block;position: relative;z-index: 1}
.bbs-today_w .bot span{font-weight: 300;margin-top: 1em;text-transform: uppercase;letter-spacing: .1em;}
.bbs-today_w .bot .img{position: absolute;left: 0;top:0;width: 100%;height:100%;background: url('') center center no-repeat;background-size:cover;transition:all ease-in-out .3s}
.bbs-today_w .bot .img.bg1{background: url('../../commons/img/perform/t1.jpg')}
.bbs-today_w .bot .img.bg2{background: url('../../commons/img/perform/t2.jpg')}
.bbs-today_w .bot .img.bg3{background: url('../../commons/img/perform/t3.jpg')}
.bbs-today_w .bot .item:hover .img{transform: scale(1.05);}

.schedule_w{width: 100%;border:1px solid #000;font-size: 16px;font-size: 1rem;;margin-bottom: 60px;color:#000;font-weight: 500;}
.schedule_w input::placeholder{color:#000}
.schedule_w .s4 input::placeholder{color:#888}
.schedule_w:after,.schedule_w .l {clear: both;display: block;content: ''}

.schedule_w > ul{display:flex; flex-wrap:wrap;}
.schedule_w .item{border-left:1px solid #000; position: relative;}
.schedule_w .item:nth-child(1){width:300px;}
.schedule_w .item:nth-child(2){width:220px;}
.schedule_w .item:nth-child(3){width:235px;}
.schedule_w .item:last-child{flex:1;}


.schedule_w .item:after{position: absolute;right: 1rem;top:50%;width: 9px;height: 5px;content: '';margin-top: -3px;background: url('../img/common/depth_black.png') center center no-repeat; background-size:100%}
.schedule_w .item:first-child{border-left: 0;}
.schedule_w .r{border-left: 1px solid #000;width: 21%;padding-left: 30px;padding-right: 30px;float: right;}
.schedule_w .item{padding:0 10px 0 80px; background-position:30px center; background-repeat:no-repeat; position:relative;}
.schedule_w .s4{padding-left:30px; padding-right: 50px;}
.schedule_w .s1:after,
.schedule_w .s2:after,
.schedule_w .s3:after,
.schedule_w .s4:after{background: none}
.schedule_w .t{display: block;margin-bottom: 1em;}
.schedule_w input[type="text"]{background: none;border:0;width: 100%;height: 70px}
.schedule_w input[type="text"]::placeholder{color: #888;}
.schedule_w select{border:0; width: 100%; height: 70px;}
.schedule_w .s4 input{width: 100%}
.schedule_w .s4 button{background: url('../img/bbs/scheduleIcons_22.png') center center no-repeat; width:1.5em; height:1.5em; background-size:100%;white-space: nowrap;overflow: hidden;text-indent:-999px;position: absolute;right: 20px;top:50%;margin-top: -0.67em;}
.schedule_w .datepick li{float: left; position: relative; width: 6em}
.schedule_w .datepick li:first-child{margin-right: 1.5em;}
.schedule_w .datepick li:first-child:after{position: absolute;right: -.7em;top:50%;width:.7em;text-align: center;height: 2px;content: '';background: #e3e3e3}
.schedule_w .s1{background-image:url('../img/bbs/scheduleIcons2_06.png')}
.schedule_w .s2{background-image:url('../img/bbs/scheduleIcons_17.png')}
.schedule_w .s3{background-image:url('../img/bbs/scheduleIcons_19.png')}
.schedule_w .s_add{background-image:url('../img/bbs/sche_add_yel.png')}
.schedule_w.item5 .l .item{width: 33.33333333333333%}
.choiceKeyword{display:block;text-overflow:ellipsis;overflow:hidden;white-space:nowrap;}
/* .schedule_w.item5 .l .s1{width: 30%} */

.schedule_check{overflow:hidden; display:flex; align-items:center; padding:0 30px; min-height:70px; border-width:1px 1px 0 1px; border-style:solid; border-color:#000;}
.schedule_check:last-child{border-width:1px; margin-bottom:30px;}
.schedule_check .title{font-size:1em; color:#222; font-weight:500; display:flex; align-items:center; white-space:nowrap;}
.schedule_check .title::before{content:''; display:block; width:2.188em; height:2.188em; background:url('../../commons/img/bbs/scheduleIcons2_03.png') no-repeat 0 0 / 100% auto; margin-right:1.25em;}
.schedule_check .title::after{content:''; display:block; width:1px; height:1.25em; background:#000; margin-left:1.75em; margin-right:4.688em;}
.schedule_check .item{display:flex; flex-wrap:wrap;}
.schedule_check input[type="checkbox"]{position:absolute; left:-9999px;}
.schedule_check input[type="checkbox"] + label{display:flex; align-items:center; font-size:0.875em; color:#333; position: relative;}
.schedule_check input[type="checkbox"] + label::before{content:''; display:block; min-width:18px; height:18px; background:url('../../commons/img/bbs/scheduleIcons_12.png') no-repeat 0 0; transition:all .4s; margin-right:10px;}
.schedule_check input[type="checkbox"] + label:not(:nth-last-of-type(1)){margin-right:1.875em;}
.schedule_check input[type="checkbox"]:focus + label:after{border:1px dotted #000; z-index:1; content:''; left:0; right:0; bottom:0; top:0; margin:auto; position:absolute;}
.schedule_check input[type="checkbox"]:checked + label::before{background-image:url('../../commons/img/bbs/scheduleIcons_10.png');}
.schedule_check .write{position:relative; margin-left:auto; border-left:1px solid #000; width:640px; padding-left:30px;}
.schedule_check .write input[type="text"]{background: none; border: 0; width: 100%; height:70px;}
.schedule_check .write button{background: url('../../commons/img/bbs/scheduleIcons_22.png') center center no-repeat; width: 1.5em; height: 1.5em; background-size: 100%; white-space: nowrap; overflow: hidden; text-indent: -999px; position: absolute; right: 20px; top: 50%; margin-top: -0.67em;}

.schedule__date{overflow:hidden; border-width:1px 1px 0 1px; border-style:solid; border-color:#000; background:#f4f4f4; height:70px; position:relative; display:flex; align-items:center; justify-content:center;}
.schedule__date .item{display:flex; height:100%; position:absolute; top:0; left:0;}
.schedule__date .item input[type="radio"]{position:absolute; left:-9999px;}
.schedule__date .item input[type="radio"] + label{font-size:0.875em; color:#333; border-right:1px solid #000; width:70px; transition:all .4s; display:flex; align-items:center; justify-content:center; text-align:center; position: relative;}
.schedule__date .item input[type="radio"]:focus + label:before{border:1px solid #fff; z-index:1; content:''; left: 0; right: 0; bottom:0; top:0; margin:auto; position:absolute;}
.schedule__date .item input[type="radio"]:checked + label{background:#000; color:#fff;}
.schedule__date .arrow{display:block; text-indent:-9999px; overflow:hidden; width:22px; height:22px; background-repeat:no-repeat; background-position:0 0;}
.schedule__date .arrow.prev{background-image:url('../../commons/img/bbs/prev.gif');}
.schedule__date .arrow.next{background-image:url('../../commons/img/bbs/next.gif');}
.schedule__date .txt{margin:0 1.250em; font-size:1.875em; font-weight:600; color:#222; line-height:1;}
.schedule__date .title input{margin:0 1.250em; font-size:1.875em; font-weight:600; color:#222; line-height:1; background:transparent; border:0; width:165px; padding:0;}

.schedule_w.w50 .item{width:33.333333333%}

.schedule_w .pop{padding: 30px 35px;width: 400px;border:1px solid #000;position: absolute;background: #fff;z-index: 1;left: 50%;margin-left: -200px;display: none;z-index: 2;color:#333;font-weight: 400;}
.schedule_w .pop .tit{position: relative;font-size: 13px;;font-size: 0.813rem;line-height: 1.15;margin-bottom: 1em;}
.schedule_w .pop .tit strong{font-size: 1.538em;margin-right: 5px;}
.schedule_w .pop .tit input{position: absolute;right: 0;bottom: 0}
.schedule_w .pop .ok{display: block;height: 3em;width: 100%;margin-top: 1em;}
.schedule_w .pop .close-st1{position: absolute;right: 10px;top:15px;top:.938rem;z-index: 1}
.schedule_w .ck{text-align:left;border-top: 1px solid #ddd;border-left: 1px solid #ddd;}
.schedule_w .ck > li{float: left;position: relative;border:1px solid #ddd;border-top: 0;border-left: 0;padding-left:10px;}


.rangeArrow{position:relative;}
.rangeArrow::after{content:''; display:block; border-style:solid; border-color:#333 transparent transparent transparent; border-width:5px 4.5px 0 4.5px; position:absolute; top:50%; right:5px; transform:translateY(-50%) translateY(-0.5px);}

.s2 .ck > li{width: 50%;}
.s3 .ck > li{width: 50%}
/* .s3 .ck .small{width: 30%} */
.schedule_w .ck .w50{width: 50%}
.s_add .ck >li{width: 50%}

@media screen and (max-width:1200px){
	.schedule_check .title::after{margin-right:2em;}
	.schedule_check{flex-wrap:wrap; padding:20px;}
	.schedule_check .write{width:100%; border-left:0; border-top:1px solid #000; margin-top:10px;}
	.notice-slider{max-width: 100%; width:calc(100% - 1.876rem); margin: 0 0.938rem 40px;}
	.bbs-category.type2 .btn-normal{white-space: nowrap;}
}
@media screen and (max-width:1024px){
	.schedule_w .item{flex:1; border-color:#000 !important;}
	.schedule_w .item:last-child{width:100%; flex:none;}
	
	.schedule__date{flex-wrap:wrap; height:auto; padding:0 0 20px;}
	.schedule__date.type2{padding:20px 0;}	
	.schedule__date .item{position:static; width:100%; border-bottom:1px solid #000; margin-bottom:20px;}
	.schedule__date .item input[type="radio"] + label{height:40px;}
		
	.schedule_check{padding:10px;}
	.schedule_check .title{width:100%; border-bottom:1px solid #000; padding-bottom:10px; margin-bottom:10px; justify-content:center;}
	.schedule_check .title::after{display:none;}
	.schedule_check input[type="checkbox"] + label{margin-bottom:5px;}
	.datepickerRange{text-overflow:ellipsis;}
	.notice-slider .slider{padding:0 34px 0 20px;}
	.notice-slider .slide{display:flex; flex-wrap:wrap; font-size: 18px; }
	.notice-slider .slide::before{margin-right: 10px;}
	.notice-slider .slide .title{margin-top: -15px;}
	.notice-slider .slide .date{margin:-12px 0 0 45px;}
}
@media screen and (max-width:640px){
	.schedule_w > ul{flex-direction:column;}
	.schedule__date .item input[type="radio"] + label{flex:1;}
	.schedule__date .item input[type="radio"] + label:nth-last-of-type(1){border-right:0;}
	
	.notice-slider{margin: 0 0.938rem 20px;}
	.notice-slider .slide{font-size: 16px;}
	.bbs-category.type2 .btn-normal{font-size: 15px;}
}
@media screen and (max-width:480px){
	.notice-slider .slider{padding: 0 34px 0 10px;}
	.notice-slider .slide{font-size: 14px;}
	.notice-slider .slide::before{display: none;}
	.notice-slider .slide .title,
	.notice-slider .slide .date{margin:0;}
	.notice-slider .slide .date{margin-top: 5px;}
	.bbs-category.type2 .btn-normal{font-size: 14px; min-width:auto; white-space:normal; word-break:keep-all; text-align:center; line-height: 1.1; margin-right:10px; padding:0 10px;}
}

.bbs-today_w .hover{position: absolute;left: 0;top:0;width: 100%;height: 100%;text-align: center;font-size: 0.875em;background: rgba(0,0,0,.8);display: none;}
/* .bbs-today_w .hover a{width: 4.500em;height: 4.500em;border-radius:50%;border:2px solid #fff;text-align: center;line-height: 4.3em;font-weight: 500;display: inline-block;margin: 0.05em;}
.bbs-today_w .hover .r{color:#000;background: #fff}
.bbs-today_w .hover .d{color:#fff} */
.bbs-today_w .hover a{width: 5.111em;height: 5.111em;border-radius:50%;text-align: center;line-height: 5em;font-weight: 500;display: inline-block;margin: 0.07em;font-weight: 400;}
.bbs-today_w .hover a:focus{outline: 2px solid #fff;}
.bbs-today_w .hover .d{color:#fff; border:2px solid #fff; background: none}
.bbs-today_w .hover .r{color:#000;background: #fff;}
.bbs-today_w .hover .t,.bbs-today_w .info{font-weight: normal;}
.bbs-today_w .hover .t{font-size: 1.222em;padding: 0 1em;}
.bbs-today_w .hover .info{font-size: 1.111em;margin: 1.5em 0 2em 0;padding: 0 1.5em;color:#1ad569;}

.no_data{text-align: center;padding: 150px 0;font-size: 16px;font-size: 1rem;color:#000}


.member_join{font-weight: 300;}
.member_join .ck_id{display:flex; flex-direction:column;}
.member_join .ck_id .id_input{display:flex; margin:0.3em 0; position:relative; }
.member_join .ck_id button{height:3.750em;width:140px;}
.member_join .ck_email button{height:3.750em;width:140px;}
.member_join .group{margin-top: 70px;}
.member_join .group:first-child{margin-top: 0;}
.member_join .sect{border-top: 1px solid #000;}
.member_join .item{display: table; width: 100%;padding: 1em;border-bottom: 1px solid #000;min-height: 5.813em;}
.member_join .item > *{display: table-cell;vertical-align: middle;}
.member_join .t{width: 13em;font-weight: 400;}
.member_join input[type="text"],.member_join input[type="password"]{padding: 0 1em}
.member_join input[type="text"]:disabled{border:0}
.member_join select{padding-left: 1em;}
.member_join input[type="text"],.member_join input[type="password"],.member_join select{width: 320px;height: 3.750em}
.member_join .small{width: 8.438em;background-position:87% center}
.member_join input[type="text"],.member_join input[type="password"],.member_join select,.member_join textarea{border:1px solid #000}
.member_join input[type="text"]:read-only{border:0;padding: 0}
.member_join .txt{color:#777}
.member_join .txt.ml{margin-left: 1em;}
.member_join .birth > li{float: left;margin-left: 1em;}
.member_join .birth > li:first-child{margin-left: 0;}
.member_join .birth > li select{width: 6.063em;;background-position:87% center}
.member_join .birth > li:first-child select{width: 8.438em;;background-position:87% center}
.member_join .birth span{margin-left: 10px;}
.member_join .dash{line-height:3.5em}
.member_join .birth_w  > *{display: inline-block; vertical-align: middle;}
.member_join .birth_w .solar{margin-left: 3em;}
.member_join .manAgeSet{}/* �겫占쏙쭗�뫀�뻷 占쎌몧占쏙옙占쎌읈占쎌넅 占쎌뵥筌앾옙 */
.member_join .manAgeSet .txt{color:#630560;font-weight:bold;display:inline-block;}
.member_join .manAgeSet .bg-black{height: 3.750em; min-width: 140px;padding:0 15px;margin-left:10px;}
	@media (max-width: 767px) {
		.member_join .manAgeSet .txt{display:block;}
		.member_join .manAgeSet .bg-black{margin-top:10px;margin-left:0;}
	}
.member_join .add .a1 > *{display: inline-block;vertical-align: middle;}
.member_join .add .a2 input{width: 100%}
.member_join .add .zipcode{width: 320px;position: relative;padding-right: 140px;}
.member_join .add .zipcode button{position:absolute;right: 0;height: 100%;width: 140px;top:0}
.member_join .add .select{margin-left: 1em;}
.member_join .add .a2{margin-top: 10px;}
.member_join .add .a2 > span{float: right;}
.member_join .add .a2 > span:first-child{float: left; width: 27.587%}
.member_join .add .a2 .r{width:71.5%}
.member_join .ck_com label{margin-right: 1em;}
.member_join .ck_com label:last-child{margin-right: 0;}
.member_join .tel_w{position: relative;display: inline-block;}
.member_join .tel_w > *{vertical-align: middle;}
.member_join .tel_w .tel{display: inline-block;}
.member_join .tel_w button{position: absolute;right:-6.5em;top:0;height: 100%;width:6em;}
.member_join .tel > li{float: left; width: 8.438em;margin-left: 10px;}
.member_join .tel > li:first-child{margin-left: 0;}
.member_join .tel input,.member_join .tel select{width: 100%;;background-position:87% center}

.member_join .txt.mb{margin-bottom: 20px;}
.member_join .kids .birth_w{margin-top: 10px;position: relative;}
.member_join .kids .birth_w:first-child{margin-top: 0;}
.member_join .kids .birth_w > span{margin-right: 1em;}

.member_join .email > li{float: left;}
.member_join .email .dash{text-align: center;width: 3%}
.member_join .email > li:first-child{width: 220px}
.member_join .email .e2{width: 310px}
.member_join .email .e3{width: 230px;margin-left: 10px;}

.member_join .email input[type="text"],.member_join .email select{width: 100%;;background-position:87% center}

.member_join .ck > li{display: inline-block;margin-right: 1.5em;}
.member_join .ck > li:last-child{margin-right: 0;}
.member_join .ck label{margin-left: 5px;}

.member_join .ck.wide{margin: -10px 0 0 -2.5%;}
.member_join .ck.wide > li{float: left;margin:10px 0 0 2.5%; width: 30.8333333333333333%}

.member_join .agree_w{margin:60px 0;}
.member_join .agree_w dl{display: table;width: 100%;padding: .8em 30px;background: #f6f6f6;margin-top: 10px;}
.member_join .agree_w dl:first-child{margin-top: 0;}
.member_join .agree_w dl > *{display: table-cell;vertical-align: middle;}
.member_join .agree_w dt{width: 30em}

.drop_out{font-weight: 300;}
.drop_out .member_join{margin-top: 3.125em;}

.bbs-list2 .no{width: 6.3em}
.bbs-list2 .del_w{width: 8em}
.bbs-list2 .date{width: 10em}
.bbs-list2 .state{width: 8em}
.bbs-list2 .del{width: 5.3em;height: 2.4em;font-size: 16px;font-size: 1rem;}

.paied2_w .bbs-sch{margin: 3.125em 0 1.875em 0;}

.bbs-reply_s > li{margin-top: 10px;border-top: 1px solid #ddd;}
.bbs-reply_s .tit{border-bottom: 1px solid #ddd;}
.bbs-reply_s .tit .rel{position: relative;padding-right: 100px;}
.bbs-reply_s .tit button{position: absolute;right: 0;top:50%;width: 4.467em;font-size: 0.938em;height: 2.200em;margin-top: -1.1em;}
.bbs-reply_s .cont{background: #f7f7f7;font-size: 14px;font-size: 0.875rem;}
.bbs-reply_s > li > *{padding: 30px}
.bbs-reply_s .etc{font-size: 0.813em;margin-top: 1em;}
.bbs-reply_s .etc span{position: relative;float: left;;padding-left: 10px;margin-left: 10px;}
.bbs-reply_s .etc span:first-child{margin-left: 0;padding-left: 0;}
.bbs-reply_s .etc span:before{position: absolute;left: 0;top:50%;width: 1px;height: 5px;margin-top: -3px;content: '';background: #ccc}
.bbs-reply_s .etc span:first-child:before{background: none}
.btn-write{font-weight: 500;font-size: 14px;font-size: 0.875rem;display: block;margin: 0 auto;width: 12.143em;height: 4.286em}
.btn-write span{background: url('../img/bbs/btn-write.gif') right center no-repeat;padding-right: 1.429em;}

.schedule_cont .btn-write{margin-top: 3em;}
.schedule_cont .ticket_com{font-size: 1em;}
.schedule_cont .ticket_com .group{padding: 5%}
.schedule_cont .ticket_com .tit:before{background: none}
.schedule_cont .ticket_com .btn{font-size: 0.875em;display: block;margin: 10px 0; padding: 8px 0;width: 8em;text-align: center;font-weight: 500;}

.btn-survey_w{padding: 0 30px 30px}
.btn-survey{display: block; font-size: 20px;font-size: 1.250rem;width: 14.700em;height: 3.650em;margin: 0 auto;font-weight: 500;}

.pop_survey{font-weight: 300;}
.pop_survey .group{margin-top: 2.15em;}
.pop_survey .group:first-child{margin-top: 0;}
.pop_survey .t{margin-bottom: 1em;}
.pop_survey .in{margin-left: 1.3em;}
.pop_survey .item{margin-top: 0.3em;}
.pop_survey .item:first-child{margin-top: 0;}
.pop_survey .clearfix .item{float: left;margin-top: 0;}
.pop_survey .item2 > li{width: 49%;float: right !important;}
.pop_survey .item2 > li:first-child{float: left !important;}
.pop_survey .img{position: relative;height: 10em;background: #4f4f4f;overflow: hidden;margin-top: 10px;}
.pop_survey .img img{display: block;position: absolute;left: 0;top:0;right: 0;bottom: 0;margin: auto;width: 100%}
.btn-zoom{background: #000;position: absolute;right: 0;bottom:0;width: 30px;height: 30px;width:1.875rem;height:1.875rem;background: #000 url('../img/common/btn-zoom.png') center center no-repeat;white-space: nowrap;overflow: hidden;text-indent:-999px;background-size:1.125em}
.pop_survey textarea{width: 100%;display: block;border-color:#000;height: 7.500em;padding: 10px;font-size: 15px;font-size: 0.938rem;}
.pop_survey .pop{display: none;    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 1;}
    .pop_survey .pop img{display: block;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);}
    .pop_survey .pop button{position: absolute;
    right: 0;
    top: 0;
    font-size: 1.3em;
    z-index: 1;
    background: #000;
    color: #fff;
    padding: 5px 10px;}

.bbs-perform_survey{font-weight: 300;}
.bbs-perform_survey .group{margin-top: 3em;font-weight: 500;}
.bbs-perform_survey .group:first-child{}
.bbs-perform_survey td{font-weight: 300;text-align: left;}
.bbs-perform_survey textarea{width: 100%;display: block;height: 5em;font-size: 13px;padding: 5px}
.bbs-perform_survey .score span{margin-left: 1em;display: inline-block;}

.bbs-perform_survey .t1{width: 10em}
.bbs-perform_survey .t2{width: 5em}
.bbs-perform_survey .t1_2{width: 15em}

.schedule_w.test .t{font-size: 1.3em; font-weight: 500;margin-bottom: 0;}

.cate-faq{display: inline-block;position: relative;}
.btn-sort{width: 3.5em;height: 3.750em;background: #000;color:#fff}

.hash_w{font-size: 14px;font-size: 0.875rem;}
.hash_w span{display: inline-block; padding: 5px 10px;border-radius:100px;border:1px solid #000;color:#000;line-height: 1;margin-left: 3px;}
.hash_w span:first-child{margin-left: 0;}

.no_img_w{padding: 3em 1.3em}
img.no_img{width: auto !important;left: 0;top:0;right: 0;bottom: 0;margin: auto;}

.bbs-sketch .del{position: absolute;right: 0;bottom: 30px;font-size: 14px; border: 1px solid #ccc;border-radius:3px;padding: 0 1em;height: 40px}
.bbs-sketch .del span{background: url('../img/common/ico-del.gif') left center no-repeat;padding-left: 26px;}

.word_w{position: relative;font-size: 0; padding-left: 160px;line-height: 1.15;}
.word_w .t{position: absolute;left: 0;top:5px;width: 140px;font-weight: 500; font-size: 18px; font-size: 1.125rem; letter-spacing: -.08em;}
.word_w .t:after{width: 1px;height: 1em;content: '';position: absolute;width:1px;right: 0;top:50%;margin-top: -.5em; background: #bababa}
.word_w .box{font-size: 14px;}
.word_w .box > li{display: inline-block;border:1px solid #777; padding: 5px 1em 7px;border-radius:15px;    margin: 0 5px 5px 0;}
.word_w .box > li:last-child{margin-left: 0;}

.btn-member_w{position: relative; padding-right: 6.3em;}
.btn-member_w button{position: absolute;right: 0;top:0;height: 100%; width: 6em}
.btn-member_w.dib{display: inline-block;}

.modal_w .member_join .sect{border-top: 0;}
.modal_w .member_join .item{padding: 0; border-bottom:0}

.bbs-newsletter a{display: block;}

.bbs-view .btn-back{display: none;}