.visible-md-inline,
.visible-sm-inline{display:none;}
@media (max-width:1850px){
	#header{padding-left: 2%; padding-right: 325px;}
	#top_nav > ul > li:nth-child(6){margin-left: 33%;}
}
@media (max-width:1670px){
	#header{padding-right: 280px; padding-left: .938rem;}
	#top_nav > ul > li:first-child .depth2{left: 85%;}
	#gnb{right:0.938rem}
	#gnb > li{margin-left:15px;}
}
@media (max-width:1450px){
   #sub_page.w100 > .inner{padding-left: 0;padding-right:  0;}
   .inner{padding-left: 0.938rem;padding-right:  0.938rem;}
	#sub_page .sub_w{padding-left: 0;padding-right: 0;}
	#sub_page.w100 .sub_w{padding-left: 0.938rem;padding-right:  0.938rem;}
   .block-pc{display: inline;}
    #footer .txt{padding: 30px 0.938rem}
    .foot_notice{margin-bottom: 1.5em;}
    #footer .top .inner{padding-right: 17.878em;}
    #footer .top .r{right: 0.938rem}
    .bbs-view .btn-back{left: 0.938rem}
    .bbs-etc .r{width: 25%}
    .sketch_write .bg{background-size: 130%;}
    .tour .group.t1 .r{padding-bottom: 50px;}
    .location .tit{padding:3em .938rem}

    .location .tit .t{width: 20%;font-size: 1rem;}
    .location .tit .area{width: 80%}
    .loc_tabs{padding-right: 50px;}
    .loc_tabs li{width: 93%}
    .location .tit .t dl{padding-right: 30px;}
    .happy_call .block-pc{display: block;}
    .bbs-today_thumb{    display: flex;
    flex-wrap: wrap;}
    .bbs-today_thumb > li{padding: 15px}

    .hire_top ol{display: flex;
    flex-wrap: wrap;}
    .hire_top ol > li{height: auto}

    /* f38 */
    .f38{font-size: 2.375rem;}
    .t_steps .tit{width: 24%;font-size: 1.667em}
    .t_steps .cont{padding-left: 100px;}

    .join_type .group_w{display: flex;margin-left: -3%;}
    .join_type > ul > li{background-position: center 1.5em !important;height: auto;margin-left: 3%;}
    .join_type .group_w a{padding: 7em 1em 1.5em 1em;}
    .join_type .group_w .t{text-align: center;}

    .bbs-mypage.inner{padding: 0 3em}
    .bbs-mypage .slick-prev{left: -2.5em}
    .bbs-mypage .slick-next{right: -2.5em}

    #schedule_tab > .inner{padding: 0}
    .fixed #schedule_tab > .inner{padding: 0 .933rem}
    .schedule_cont .editor{padding: 30px;}
    .schedule_cont.new .editor{padding: 30px 15px;}
    #loc .inner{padding: 0}
    .steps_service{display:flex;flex-wrap:wrap}
    .steps_service li{height: auto}
    .service_join .block-pc{display: block !important;}
    .citizen_new .group .t{padding-left: 0; width: 270px;font-size: 2em;}
    .bbs-total{    padding: 1.4em 1em;}
    .bbs-total .hit{width: 5em}
    .bbs-total > li > *{padding: 0 10px}
}
@media (max-width:1350px){
	#header{padding-right: 230px;}
	#top_nav > ul > li:nth-child(6){margin-left: 29%;}
	#gnb > li{margin-left: 10px;}
	#gnb .li{margin-left: 5px;font-size: 11px;}

	.bbs-view .tit{padding: 1rem 1.5rem;display: block;}
	.bbs-view .tit > *{display: block;}
	.bbs-view .tit .date{width: 100% !important;margin-top: 1em;}
	.bbs-view .cont{padding: 1.5rem}
	.bbs-view .share{margin-bottom: 1em;}
	.bbs-view .btn-share{position: relative;top:0}

	.bbs-perform_view .play{padding-left: 75%;}
	.bbs-perform_view .play .l{width: 71%}

/* 	.bbs-perform_view .play{padding-left: 0;}
	.bbs-perform_view .play .l{position: relative;width: 100%;padding-bottom: 45%;    max-width: 1024px;
    margin: 0 auto 1.5em auto;}

    .bbs-perform_view .play .r{border-bottom: 0;padding-top: 1em;border-bottom: 1px solid #ddd;}
    .bbs-perform_view .play .item{float: left;width: 25%;padding-top: .5em;border-bottom: 0;} */

    .tour .group.t2 .l, .tour .caution{padding-left: 0;}
   .tabs_map_w > ul > li{padding: 1.5rem}
   .tbl-st2 .t{width: 10em}
   .happy_call .l{width: 350px}
	 .sv_top{padding: 30px}
	 /* .sv_top .in{padding-left: 280px;} */
	 #today{background-size: auto 67%;margin-bottom: 1.8rem;}
	 #footer .txt .r{display: block;float: none;}
	 #footer .r_w .link{display: block;}
	 #footer .r_w .link img{float: right;}
	 
	 #gnb .pc_only{display: none !important}
  #gnb .tablet{display: inline-block !important}
  .perform_line .t{margin-left: 30px;}
  .ovx-auto .block-mob{display: block;}
}
@media (max-width:1180px){
    html{font-size: 15px}
    #logo a{width: 11.250em}
    #header{padding-right:200px}
    #top_nav > ul > li:nth-child(6){margin-left: 25%;}
	#top_nav > ul > li:last-child .depth2{width: 185px;}
	#top_nav > ul > li:last-child .depth3{left: 184px;width: 150px;}
    #gnb .btn{width: 1.667em;height: 1.667em}
    #gnb{margin-top: -.8435em;}
    #top_nav{font-size: 19px;}
    #gnb > li{margin-left: 7px;}


	.cate-faq{margin-bottom: 1em;}
    .bbs-category .txt{position: static;margin-bottom: 1em;}
    .bbs-category .bbs-sch{float: none;width: 100%}
    .bbs-category .bbs-sch_w{width: 100%;float: none;}
    .bbs-category.sel .fr{float: none !important;margin-left: -1%;}
    .bbs-category.sel select{width: 49%;margin-left: 1%;}
	.member_join .email .e2{width: 45%}
	.member_join .email > li:first-child,.member_join .email .e3{width: 25%}
	.member_join .email .e3{margin-left: 2%;}

	.member_join .add .select{display: block;margin: .5em 0 1em 0;}
	.member_join .birth_w .solar{display: block;margin: .5em 0 0 0;}
	.member_join .ck.wide{display: flex;
    flex-wrap: wrap;}

    .bbs-category.select{padding-left: 7.9em;}
    .bbs-category.btn_w{padding-right: 9.7em;}
    .bbs-sch_w-st1 > .btn{width: 10em;position: absolute;right: 0;top:0;background: #fff}
    .bbs-category.select select{position: absolute;left: 0;top:0;width: 8em;background-position: 87% center}
    .bbs-faq .q{padding: 0 1em}
    .bbs-faq .num{width: 3.5em}
    .bbs-faq .sort{width: 5em}

    .bbs-perform_survey .t1{width: 4.5em}
    .bbs-perform_survey .t2{width: 3em}

    .bbs-perform_survey .tbl-st1 th, .bbs-perform_survey .tbl-st1 td{padding: 10px 5px}


}
@media (max-width:1200px){
	.schedule_w .datepick li{width: 47.5%}
	.schedule_w .datepick li:first-child{margin-right: 0;}
	.schedule_w .datepick li:last-child{float: right;}
	.schedule_w .datepick li:first-child:after{width: 5%;right: -5%}	
}
@media (max-width:1100px){
	.schedule_com .bg.cal-st1{padding-left:5px;padding-right: 5px}
	.hire_top .no{display: block;margin-bottom: .3em;}
	.hire_top .cont{display: block;margin: 0;}
	.my_state_renew .dev > li{padding: 15px;    float: none;
    width: 97%;
    margin-top: 1.5%;
    text-align: center;}
    .my_state_renew .dev > li:first-child{margin-top: 0;}
    .my_state_renew .dev dl{margin-left: 1rem;}
	/* .my_state_renew .dev > li > *{display: block; margin: 0 auto;} */
	.my_state_renew .dev .ico img{width: 4.375rem; display: block;margin: 0 auto;}
	/* .my_state_renew .dev dl{margin: 10px 0 0; text-align: center;} */
	.my_sch > ul{text-align: center;}
	.my_sch > ul > li{float: none; display: inline-block;}
	.my_sch .r{margin: 10px 0 0;}
	.my_sch .datepick{max-width:100%}
	
	.inro-top{flex-direction: column;align-items: center;padding: 60px 0;}
	.inro-top .bg{margin: 10px 20px;}
	

}
@media (max-width:1024px){
	#seoul-common-gnb{display: none;}
	#header{top:0}
  .visible-md-inline{display:inline;}
  
  #popup_layer .pop_l{max-width:100%}

	.pc{display: none !important;}
	.tablet{display: block !important;}
	.tablet,.block-t{display: block}
	#top_nav,#gnb > li,#depth_w .dep1 > .home{display: none;}
	#gnb > .ticket,#gnb > li:last-child{display: inline-block;}
	#gnb > li{margin-left: 10px;}
	#btn-menu{display: block;}
		#depth_w > .inner{padding: 0}
	#depth_w .dep1 > li{padding-right: 0;width: 50%;min-width: 0}
	#depth_w .dep1.li1 > li{width: 100%; background-position: right center;}
	#depth_w .dep1 > li{background: #fff;padding-left: 0;}
	#depth_w .dep1 .rel > a{height: 3.7rem}
	#depth_w .dep1 > li .depth{padding-top: 3.59rem;}
	#depth_w .dep1 .rel > a,#depth_w .dep1 > li .depth a{padding: 0 10px}
	#depth_w .dep1 > li:nth-child(4),#depth_w .dep1 > li:nth-child(5){border-top: 1px solid #ccc;}
	/* #depth_w .dep1 .rel > a{padding-left: 0;} */
	#depth_w .dep1.li3 > li:last-child{width: 100%}
	#depth_w .dep1.li3 > li:last-child .rel > a{background-position-x: 96.7%;}
	#header{height: 5em;padding: 0}
	#logo{left:50%;transform:translate(-50%, -50%); margin-left: 0;}
    #logo a{width: 13em;}
	#sub_visual{padding: 6.7rem 0 3.7rem 0}
	.sub-t strong{font-size: 3em;}
	.f38{font-size: 2rem;}
	.f24{font-size: 1.3rem !important;}
	.tabs-st1{font-size: 1.125rem;}
	.tabs-st4{font-size: 1.125rem;}
	.bbs-event,.bbs-newsletter{    max-width: 800px;
    margin: 0 auto;
    position: relative;
    left: -1%;}
    .bbs-newsletter{display: flex;flex-wrap: wrap;}
	.bbs-event > li,.bbs-newsletter > li{width: 48%}
	.bbs-event .cont,.bbs-newsletter .cont{padding: 0.933rem}
	.bbs-newsletter .cont .t{white-space: normal;max-height: 3em}

	#footer .top .l{white-space: nowrap;overflow-x:auto}

	/* #footer .top .l ::-webkit-scrollbar {
    -webkit-appearance: none;
	}
	#footer .top .l ::-webkit-scrollbar:vertical {
	    width: 12px;
	}

	#footer .top .l ::-webkit-scrollbar:horizontal {
	    height: 12px;
	}

	#footer .top .l ::-webkit-scrollbar-thumb {
	    background-color: rgba(0, 0, 0, .5);
	    border-radius: 10px;
	    border: 2px solid #ffffff;
	}

	#footer .top .l ::-webkit-scrollbar-track {
	    border-radius: 10px;
	    background-color: #ffffff;
	} */
	#footer .top .inner{padding-right: 26em;}
	#footer .top .r li{position: relative;padding-right: 3em;margin-left: 1em;}
	#footer .top .r button{position: absolute;right: 0;top:50%;width: 3em;height: 2em;margin-top: -1em;}
	#footer .top select{width: 8em}
	.foot_notice .fs a{padding: 0 1em}

	#footer .txt .l,#footer .txt .r{text-align: center;float: none;width: 100%}
	#footer .txt .r{margin-top: 1em;}
	#footer .txt .r .banner{display: inline-block;}
	#footer .txt .r p{text-align: center;margin-top: 1em;}
	
	/* 200208 */
	#footer .r_w{float: none;margin-top: 1.5em;}
	#footer .r_w > a{display:block; text-align:center; margin:0 0 10px;}
	#footer .r_w .link{text-align: center;}
	#footer .r_w .link a{display: inline-block;}
	#footer .r_w .link img{float: none}
	#footer .txt .r{margin-left: 0;}

	.bbs-sch_w-st1{position: relative;padding-right:7em;}
	.btn_w .bbs-sch_w-st1{position: static;padding-right: 0;}
	.bbs-sch_w-st1 .bbs-sch{display: block;width: 100%}
	.bbs-sch_w-st1 > button{width: 6.7em;position: absolute;right: 0;top:0}

	.bbs-sketch > li{padding-left: 10em}
	.bbs-sketch .img{left:0;width: 10em;transform: translateY(-50%);height: 14em;margin-top: 0}

	.bbs-etc,.bbs-etc > *{display: block;}
	.bbs-etc .r{width: 100%;border-left: 0;border-top: 1px solid #ddd;padding: 1em}

	.sketch_write .in{padding-left: .938rem; padding-right: .938rem;}
	.bbs-write .form .box span{margin-right: 1em;}

	.bbs-perform_view .play{padding-left: 0;}
	.bbs-perform_view .play .l{position: relative;width: 100%;padding-bottom: 55%;
    margin: 0 auto 1.5em auto;}

    .bbs-perform_view .play .r a{padding-left: 0;}
    .bbs-perform_view .play .thumb{position: relative;width: 100%;padding-bottom: 50%;margin-bottom: 1em;}
    .bbs-perform_view .info .t{height: auto;margin-bottom: 1em;}

    .bbs-perform_view .play .r{border-bottom: 0;padding-top: 1em;border-bottom: 1px solid #ddd;}
    .bbs-perform_view .r > ul{margin-left: -1%;}
    .bbs-perform_view .play .item{float: left;width: 24%;padding-top: .5em;border-bottom: 0;margin-left: 1%;}

    .tour{background: none}
    .tour .tit{padding: 50px 0;background: url(../img/space/tour_bg.jpg) center top no-repeat;}
    .tour .tit p{margin: 20px 0 30px 0;}
    .tour dl .color-white{color:#111 !important}

    .tour .tit .btns{margin-left: -2%;}
    .tour .tit .btns a{float: left; width: 31.333333333%;margin-left: 2%;}

    .tour .group.t2 .l{padding-top: 0;}
    .tour .group .l{width: 51%}
    .tour .group .r{width: 43%}

    .tour .caution .r{position: relative;text-align: center;margin-top: 3em;}

     /* font-size:38px */
    .sketch_write .t h3,.tit-st4,.tabs_map_w .p_t,.facility .flex .t,.facility .store .top .tit,.happy_call .tit,.lost_article .steps .t,.ticket_com .tit,.etq .t{font-size: 1.8em;}

    .sketch_write h4,.tour .tit .t,.lost_article .steps .no{font-size: 2.3em;}
    .citizen .tit{font-size: 1.3em;}
    .citizen_new .tit{padding: 50px 1rem}
    .citizen_new .group{padding: 25px 0;display: block;}
    .citizen_new .group > *{display: block;}
    .citizen_new .group .t{width: 100%;margin-bottom: .5em;}


    .bbs-list th{padding: 1rem 5px}
    .bbs-list td{padding: 5px}
    .bbs-list tr:first-child td{padding-top: 1rem;}
    .bbs-list tr:last-child td{padding-bottom: 1rem;}
    .bbs-list .no{width: 3em}
    .bbs-list .event-date{width: 6em}/* �씠踰ㅽ듃湲곌컙 */
    .bbs-list .event-date br{display:inline;}
    .bbs-list .date{width: 5em}
    .bbs-list .date2{width: 7em}
    .bbs-list .hit{width: 4em}

    .prev_next dl{padding-left: 10em;}
    .prev_next dt{width: 10em}
    .prev_next dd{margin-left: 5px;}


    .tbl-recruit{font-size: 0.938rem;}
    .tbl-recruit th{padding: 0.938rem 5px;white-space:nowrap}
    .tbl-recruit td{padding: 0.938rem 5px}

    .location .tit > *{display: block;width: 100% !important}
   .loc_tabs,.location .tit .t dl{padding-right: 0;}
   .loc_tabs{border-top:1px solid #000;border-left: 1px solid #000;}
   .loc_tabs li{border-left: 0;}
   .loc_tabs li:first-child{border-top: 0;}
   .loc_tabs li,.loc_tabs .active{float: left;width: 33.333333333333333%}
   .location .tit .t dt span{display: inline;}
   .location .tit .t .link a{float: left;}
   .location .tit .t .naver{margin: 0 0 0 5px;}

   .location .area{display: none;}
   .location .public_t{margin-top: 3em;}
   .tabs_map_w > ul > li{width: 48%;margin-bottom: 2%;}

   .tbl-st2 .t{width: 8em}
   .public_t .group{padding: 2em}

   .facility > .inner,.facility .store .inner{padding-left: 0;padding-right: 0;}
   .facility .flex{margin-left: 0;display: block;}
   .facility .flex .cont{margin: -30% 0.938rem 3em}
   .facility .flex p{margin-bottom: 1.3em;font-size: 1rem;}
   .facility .flex .txt2{margin-bottom: 1.5em;}

   .facility .store .inner > ul > li{width: 47%}

   .facility .s_com .in{padding: 0 .933rem}
   .facility .store .inner > ul{margin-left: 0;}

   .happy_call{text-align: center;}
   .happy_call ul{display: flex;flex-wrap:wrap;margin-left: -3%;}
   .happy_call li{display: block;width: 47%;margin-left: 3%;}
   .happy_call li,.happy_call li:first-child{ padding: 2.5em 0;}
    .happy_call li > *{display: block;}
    .happy_call li .l{width: 100%;  background-position:top center;  background-size: auto 3em; padding-top: 3.3em;}
    .happy_call li .l .block-pc{display: inline-block;}
    .happy_call li .r{padding-left: 0;margin-top: 1.5em;}
    .lost_article .steps > li{width: 48%}
    .lost_article .steps .w50{width: 98%}

   .ticket_com .group{padding: 3rem}
   .ticket_com .tit:before{left:-3rem}


   .etq{font-size: 1rem;}
   .etq > ul{margin:0}
   .etq > ul > li{width: 100%;margin-left: 0; padding-left: 10rem;min-height:7rem;margin: 3.5em 0 0 0;}
   .etq > ul > li:first-child{margin-top: 0;}
   .etq > ul > li .ico{width: 7.5rem}

   .schedule_w{border: 0}
   .schedule_w .item{width: 33.33333333333333333%;border:1px solid #e3e3e3;border-left: 0;}
   .schedule_w .item:first-child{border-left: 1px solid #e3e3e3;}
   .schedule_w .s4{padding-right: 3.5rem;float: none;width: 100% !important;clear: both;border-left: 1px solid #e3e3e3;border-top: 0;}
   .schedule_w .s4 button{right: 1rem}
   .schedule_w .t{margin-bottom: .3em;}
   
   .schedule_w.w50 .item{width: 50%}
   
.schedule_w.w50 .l > li{width: 50%}
   .schedule_w .pop{
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    z-index: 151;border:0;padding: 1rem}

    .schedule_w .rel{    position: relative;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
    padding: 1em;}
    .bbs-today_thumb > li{padding: 1em;width: 31.33333333333%;}
    .bbs-today_thumb .t{height: auto}
    .bbs-today_thumb .etc > *{float: none !important;display: block;}
    .bbs-today_thumb .etc .place{text-align: right;margin-top: .3em;}

    .btn_w_seat a{}

    .hire_top ol > li{padding: 1rem}
    .hire_top .cont .small{margin-top: .3em;display: block;font-size: .8em;}
    .hire_top .f38{font-size: 2rem;}

    .hall_perform .bg{padding: 80px 0 150px 0}
    .hall_perform .bg .t{font-size: 2.5em;margin-bottom: .5em;}
    .hall_perform .btn-arrow{margin-top: 3em;}
    .hall_perform .imgs{margin-top: -5em;}

    .hall-btn_w .sect dt{width: 8rem}
    .hall-btn_w .sect{padding-left: 8em;}

    .ticket_com .tbl-st1 td{font-size: 16px;font-size: 1rem;}

    .fee .time{width: auto;word-break:break-all}

    /* .steps-st1{display: flex; flex-wrap:wrap} */

    .location .tit .t{float: none;}
    .public_t > ul{margin-top: 3em;}

    .charge .top{margin-bottom: 3em;}
    .charge .cont{padding-top: 3em;}
    .charge .cont .in{padding-top: 3em;}
    .charge .card{margin: 3em auto;max-width: 800px;}
    .charge .card .img{margin-bottom: 1.8em;}
    .charge .card > li{float: right; width: 48%;margin: 0;}
    .charge .card > li:first-child{float: left;}

    .charge .in .tit-st4,.charge .card{padding: 0 1rem}
		.steps-st1{margin-left: -3%;max-width: 700px}
    .steps-st1 > li{width: 10em;height: 10em}
.steps-st1 > li{margin-left: 3%;}
.steps-st1 > li:before{left: -10%}

		.find_member .top{padding: 1em}
		.find_member .form_w,.find_confirm .box{padding: 5%}

		.find_member .form .tt{width: 15%}

.find_member .t{margin-bottom: 3%;}
	.find_member .tel_w{padding-right: 5.3em;}
		.find_member .form button{width: 5em}
		.find_member .tel_confirm{padding-right: 5.3em;}

		.join_agree .tit{margin-bottom: 3em;}
		.join_agree .tit .t{font-size: 2.5em;}
		.join_agree .box{padding: 5%}
		.join_agree .group{margin-top: 5em;}
		.member_join .t{width: 10em}
		.member_join .txt.ml{display: block;margin: .3em 0 0 0;}

		.member_join .agree_w dl{padding: .8em 1em}
		.member_join .bul-dot.b:before{top: 50%}

		.member_join .agree_w .ck_com{width: 8.7em}
		.bbs-mypage .in{padding: 10px;margin: 0 7px;}
		.cal-select strong{margin: 0 1.5em;}
		/* .schedule_cont .w .editor, .schedule_cont .w > .r{padding: 15px} */
.schedule_cont .editor{padding: 10px;}
.schedule_cont.new .editor{padding: 10px; width: 100%;}
.schedule_cont .w > .r{padding: 0}
.schedule_com{margin-bottom: 0;}
.bbs-reply_s > li > *{padding: 10px}
.bbs-reply_s .tit .rel{padding-right: 5em;}
.bbs-reply_s .tit button{width: 3em}
.sv_top .poster{width: 30%}
.sv_top .tit{padding: 2.5em 0 0 0;}
.sv_top .tit .t{margin-bottom: .7em}
#depth_w .dep1 > li .depth > li:last-child{padding-bottom: 1em;}
.login .half_w > li{float: none !important; width: 100% !important;max-width:100% !important}
.login .half_w:before{background: none;}
.login .half_w > li.r{margin-top: 3em;}

.member_com{padding-top:0}
.member_join .tel{margin-left: -3%;}
.member_join .tel_w .tel{display: block;padding-right: 6.5em;}
.member_join .tel_w .tel.btn_x{padding-right: 0;}
.member_join .tel_w button{right: 0}
.mypage_gift .bbs-btn_w,.bbs-btn_w.mt{margin-top: 30px;}
.bbs-btn_w.mt.flr .bbs-btn-st2{width: 10em}
.member_join .bbs-btn-st2{width: 37%}

.member_join .tel > li{width: 30.33333333333%;margin: 0 0 0 3% !important;position: relative;}
.member_join .tel{width: 100% !important}

.info_fee{padding: 30px 0;text-align: center;}
.info_fee > li{    padding: 2.8em 10px 0;background-size: 1.8em;
    background-position: center top}

    .schedule_btn{padding: 10px}

.schedule_t .label_w {top: 5px;
    right: 5px;
    position: absolute;margin-top: 0;
}
.schedule_t .label_w .label{margin-left:5px;}
.schedule_t .label_w .label span{margin-right: 3px;}

.schedule_com:first-child .schedule_t{padding: 1.8em 0 1em 0}
#today{padding-top: 100px;}
.bbs-view .tit{padding-left: 0;padding-right: 0;}
.bbs-view .cont{padding-left: 0;padding-right: 0;}

.mypage_top_w{padding: 1.5em 0}
.mypage_top .r{position: static;margin-top: 1em;}
.myapge_customer .steps .group{padding-left: 240px;}
.myapge_customer .steps .group .bg{width: 240px}
.myapge_customer .steps .cont{padding: 30px}

.bbs-view .tit .cate+.t{margin-top: .63em;}
.bbs-view .tit .t{margin-bottom: .3em;}
.bbs-view .tit .date span{padding: 0 0 0 1em;}
.bbs-view .tit .date span:before{left: .5em}

.total-sch .form{padding: 0 4.5em 0 9.7em;font-size: 1rem;height: 4.5em}
.total-sch .form select{width: 10em}
.total-sch .form .btn{width: 4.5em}


   .steps_service li{width: 48%;padding: 1.5em;margin-bottom: 2%;}
   .steps_service .tit{margin-bottom: 1em;font-size: 1.8rem;max-width:100%}
   .steps_service .tit strong{margin-bottom: 15px;}
	.service_join .block-pc{display: inline !important;}
	
	#remainpop .btn_bottom a{width: 13em}
	.sv_top .sns button{width: 1.7em}
	.word_w{padding-left: 0;}
	.word_w .t{position: relative;top:0;margin-bottom: .7em; width: 100%}
	.word_w .t:after{background: none}
	
	.total-sch .layer_w .in{margin-left: 0;}
	.total-sch .layer .sect a{    padding: 8px 10px}
	.total-sch .layer .sect a .date{right: 10px}
	.total-sch .layer .sect li:first-child{padding-top: 10px;}
	.total-sch .layer .sect li:last-child{padding-bottom: 10px;}
	.bbs-total .hit{display: none;}
	
	.cont-st1{display: block;}
	.cont-st1 > *{display: block;width: 100% !important}
	.cont-st1 .l{padding-right: 0; margin-bottom: 1.5rem;}
	.cont-st1 .l br{display: none;}
	.cont-st1 .l .txt{margin-top: 1.5rem;}
	.membership_new .mt{margin-top: 40px;}
	.membership_new .group{margin-top: 67px;}
	
	.mypage_top .l dt .txt{display: block; margin-top: 1em;}
	.mypage_top .l dt img{margin: 0 5px;     max-width: 40%;}
		
	.schedule_btn2 .w1{width: 100%; margin-right: 0;}
	.schedule_btn2 .w2{width: 100%;}
	
	.perform_line .t{width: 29%;}
	.perform_line .txt{padding-left: 40px;}
	
    .facility_org .group .r.txt{padding: 0 0 0 3rem}
    .facility_org .group .l.txt{padding: 0 3rem 0 0}
    
        
}
@media (max-width:800px){
	.bbs-event,.bbs-newsletter{margin-left: -2%;
    position: relative;
    left: 0;}

    .sketch_write .in li{float: none !important; width: 100%;}
    .sketch_write .in li:first-child{margin-bottom: 1em;}
    .sketch_write .cont{height: auto;margin: 1.5em 0 1.8em 0;}

		.steps-st1{max-width: 24em;margin: 0 0 -5% -5%;}
    .steps-st1 > li{width:9.3em;height: 9.3em;margin: 0 0 5% 5%;}
/* .steps-st1 > li:before{left: -10%} */
.steps-st1 strong{font-size: 1.8em;}

.steps-st1 > li:nth-child(3):before,.steps-st1 > li:nth-child(7):before{display: none;}
#loc li{padding-left: 15px;margin-left: 15px;}


.schedule_btn{padding: 10px;border-bottom: 1px solid #d1d1d1;}
.cut_w{padding: 15px}
.cut_thumb{padding: 10px}
.cut_w .slick-arrow{width: 3em;height: 3em;margin-top: -1.5em;}
.cut_w .slick-prev{left: -15px}
.cut_w .slick-next{right: -15px}

.bbs-faq .q{font-size: 1rem;}
.bbs-faq .a{padding: 30px}
.bbs-faq .q{height: 6em}
.mypage_top .card{    padding: 108px 0 0 0;}

	.ticket_info .tit{width: 25%;}
	.ticket_info .cont{width: 75%;}

}

@media (max-width:720px){
.mypage_top .card{background-size:141px;padding:100px 0 0 0;min-height: 5.3em; background-position: center top;text-align: center;}
.mypage_top .l dt{font-size: 1.5em;}
.mypage_top .l dd{margin-top: .8em;}
.mypage_top .l dd .dd{margin-left: 0;display: block;margin-top: .3em;}
.mypage_top .l dd .dd:first-child{margin-top: 0;}
.mypage_top .label{display: block;margin: 1em auto 0 auto;text-align: center; width: 6.7em}
.mypage_top .r{text-align: center;margin-top: 1.5em;}
.mypage_top .r a{margin-left: 1.3em;line-height: 1.8em;}
.mypage_top .r a.btn{background-size: 1em;}
.mypage_top .r a.logout{padding-right: 1.87em;background-size: 1.5em;}

.mypage_top .card img{display: block;margin:0 auto 1em}
.mypage_top .card dt img{position: static; display: block; margin: 0 auto 15px}
}

@media (max-width:640px){
    html{font-size: 14px}
    .block-m{display: block;}
		.mobile{display: block !important}
		.bbs-view .btn-back{display: block;}
		#depth_w{font-size: 13px;}
		#depth_w .dep1 .rel > a{height: 3rem}
		#depth_w .dep1 > li .depth{padding-top: 2.9rem;}
    .tabs-st1{font-size: 1.15em;}
    .tabs-st1 a{height: 3.5em}
    .tabs-st2{margin-bottom: 3em;}
    .tabs-st4{font-size: 1.15em;}
    .tabs-st4 > li{flex: none;}
    .tabs-st4 a{height: 4em}
    .paging_w,.paginationSet{margin-top: 3em;}
    .paging_w li,.paginationSet li{margin: 0 .8em;font-size: 1.18rem;}

		#sub_visual{padding: 6.3rem 0 3rem 0}
    #sub_page{padding: 2.5rem 0 5rem 0}

    .tabs-st1.li7 > li{width: 25%}
    .tabs-st4.li7 > li{width: 25%}

    .sub-t strong{font-size: 2.15em;}

    #footer .banner > li{width: 10em;display: inline-block;float: none;vertical-align: middle;}
    .foot_notice{padding: 0 3em 0 3.5em}
    .foot_notice .t{width: 3.5em}
    .foot_notice button{width: 1.5em}
    .foot_notice .slick-prev{right: -1.5em}
    .foot_notice .slick-next{right: -3em}
    .foot_notice .t, .foot_notice .fs a{line-height:2.5rem;}
    .foot_notice .fs a{padding: 0 10px}

   #footer .top .inner{padding: 0}
   #footer .top .l,#footer .top .r{padding: 0 0.938rem}
    #footer .top .r{position: static;border-bottom: 1px solid #2f3648}
     #footer .top .r li{width: 49%;margin-left: 0;float: right;}
      #footer .top .r li:first-child{float: left;}
    #footer .top .r select{height: 3em;width: 100%}

    .bbs-reply .write{padding: 3%}
    .bbs-reply .write .bg{padding-right: 0;}
    .bbs-reply .write .bg button{position: static;margin-top: 10px;width: 100%;height: 3em}
    .bbs-sketch > li{padding-left: 23.5%;}
    .bbs-sketch .img{width: 23.5%;height: auto;padding-bottom: 33%; top:1.5rem;     transform: translateY(0);}
    .bbs-sketch .cont{padding: 1.5rem 0 1.5rem 1.5rem}
    .bbs-sketch .cont .t{font-size: 1.3em;}
    .bbs-sketch .etc > *{margin-right: 1em;}
    .bbs-sketch .etc > span:first-child{display: block;}

    .bbs-etc .l{padding:5% 5% 5% 6.7em}
    .bbs-etc .img{width: 6.7em;height:9.5em; position: absolute;left: 5%;overflow: hidden;}
    .bbs-etc .img img{position: absolute;left: 0;top:0;width: 100%}
    .bbs-etc .l dl{margin-left: 15%;}

    .bbs-view .btn-back{position: static;margin-bottom: .8em;font-size: 1.067rem;}

    .sketch_write .in li{padding: 8%}

    .bbs-write .form input[type="text"], .bbs-write .form select{padding: 0 10px}
    .bbs-write .form .box{padding: 1.15em}
    .bbs-write .form .box{padding-left: 10px !important;padding-right: 10px !important;}
    .bbs-write .form textarea{padding: 10px;height: 13em}
    .bbs-write.sketch .btn{padding-right: 6.3rem;}
    .bbs-write.sketch .btn button{width: 6.3rem;padding: 0 5px;word-break:keep-all}

    .btn-list_w2 .txt{float: none;margin-bottom: 2.3em;}
    .bbs-perform_view .play .item{width: 32.333333333333%}
    .bbs-perform_view .play .item:last-child{display: none;}

    .tour .group .l,.tour .group .r{float: none;width: 100%}
    .tour .group.t1 .r{padding-bottom: 1.5em;}
    .tour .group .img{position: relative;height: 10em;overflow: hidden;margin-bottom: 1.5em;}
    .tour .group .img img{position: absolute;left: 0;top:0;right: 0;bottom: 0;margin: auto;width: 100%}
    .tour .group.t2 .l{padding-bottom: 2.5em;margin-bottom: 2.5em;}

    .tour .tit{padding: 8% 0;margin-bottom: 8%;}
    .tour .tit .btns{margin-left: 0;}
    .tour .tit .btns a{float: none;width: 100%;margin: 1% 0 0 0;}

    .citizen .tit{margin-bottom: 1.5em;padding: 1.5em .938rem}
    .citizen .group_w{padding-bottom: 0;border-bottom: 0;margin-bottom: 0;}
    .citizen .group_w.c2{margin: 1.5em 0;}
    .citizen .half > li{width: 100%;float: none;margin-bottom: 3em;}
    .citizen .group img{display: block;margin: 0 auto;}
    .citizen .tit p:before{margin-bottom: .938rem;}
    .citizen .tit p:after{margin-top: .938rem;}

    .bbs-view .tit{font-size: 1.5em;}

    .prev_next{line-height: 3.3em;}
    .prev_next dl{padding-left: 6.7em;margin-top: 3px;}
    .prev_next dt{width: 6.7em}
    .prev_next dt span{padding-left: 1.3em;}
    .prev_next dd{margin-left: 3px; padding: 0 1em}

    .btn-list,.bbs-btn-st1{width: 8.7em; height: 4em;line-height: 3.93em;}
	.bbs-category .bbs-sch_w .btn{width: 10em}
	.bbs-category .bbs-sch_w{padding-right: 9.3em;}
	.bbs-sch input{padding: 0 10px;}
	.bbs-category .bbs-sch_w input{padding: 0 0 0 10px}
    .bbs-category select{width: 100%;padding-left: 10px;}
	.cate-faq{display: block;margin-bottom: 10px;}
	.cate-faq select{float: none;}
	.cate-faq button{position: absolute;right: 0;top:0}

   .tabs_map_w > ul{margin-left: 0;}
   .tabs_map_w > ul > li{width: 100%;margin: 2% 0 0 0;}
   .tabs_map_w > ul > li:first-child{margin-top: 0;}

   .tbl-st2 .item{display: block;}
   .tbl-st2 .t{display: block;width: 100%;padding: 10px;border-bottom: 1px solid #000;border-right: 0;}
   .tbl-st2 .cont{display: block;}
   .tbl-st2 .tbl th, .tbl-st2 .tbl td,.tbl-st2 .cont{padding: 10px}

   .public_t > ul{display: block;}
   .public_t .group{padding: 5%;float: none;width: 100%;background-position: 95% 3%;background-size:4.7em}
   .public_t > ul > li:first-child{border-right:0;border-bottom: 1px solid #000;}

   .loc_tabs .active{background-image: url('../img/common/loc.png')}

   .facility .store .top, .facility .store .bot,.facility .flex .cont{padding: 8%}
   .facility .s_com .in{padding: 0 5px}
   .facility .flex .cont{margin-left: 5px; margin-right: 5px;}
   .facility .detail > li{padding-left: 0;margin-top: .8em;}
   .facility .detail span{display: block;width: 100%;position: static;font-weight:500;margin-bottom: 0.3em;}
   .facility .detail span:after{background: none}
   .facility .store{padding: 10% 0}

   .happy_call ul{margin-left: 0;display: block;}
   .happy_call li{width: 100%;margin-left: 0;}

   .lost_article .steps{margin-left: -5%;}
    .lost_article .steps > li{width: 45%;margin-left: 5%;}
    .lost_article .steps .w50{width: 95%}
    .caution-box .in{padding: 5%}

    .bbs-write .file{padding-right: 6.3rem;}
    .bbs-write .file label{width: 6.3rem}

    .ticket_com .group{padding: 1rem}
    .ticket_com .tit:before{left:-1rem}
    .ticket_com .tbl-st1{font-size: 1rem;}
    .ticket_com .tbl-st1 th,.ticket_com .tbl-st1 td{padding: 10px}


   .etq > ul > li{ padding-left:7rem}
   .etq > ul > li .ico{width: 5rem}
   .etq .bul-dot{margin-top: 1em;}


   /* 怨듭뿰�씪�젙 */
	.schedule_cont .w > .r{
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0,0,0,.3);
    z-index: 999;
    height: 100%;display: none;}
	.schedule_cont .w > .l,.schedule_cont .w > .r{width: 100%;float: none;}
   .schedule_w .item{width: 100% !important;float: none;border:1px solid #e3e3e3;border-top: 0;    background-size: 23px;background-position: 10px center;    padding-left: 40px;}
   .schedule_w .item:first-child{border-top: 1px solid #e3e3e3;}
   .schedule_w .s4{padding-left:10px}
   .schedule_w .s1 input[type="text"]{font-size: .933rem;}
   .schedule_w input[type="text"]{height: 3.8rem}
   .schedule_w.item5 .l > li:first-child,.schedule_w.item5 .l > li:nth-child(2){padding-bottom: 0;}

   .schedule_w{margin-bottom: 3em;}
   .schedule_cont .w > .r .close-st1{float: right;margin: 1rem 1rem 1rem 0;}
   .schedule_t, .schedule_com .tbl th{background: none;text-align: left;;border-bottom: 0;padding: 0;margin-bottom: .5em;}
   .schedule_cont .group_w{margin-top: 3.5em;}
	 .schedule_com .bg.cal-st1{padding-left: 0;padding-right: 0;}

   .bbs-today_w .category > span{margin-right: .3em;}
   .bbs-today_w .category .active{padding: .3em .67em .5em .67em;}
   .bbs-today_w .etc_w{padding: 0.15em 0 0 0;}
   .bbs-today_w .etc_w button{width: 2em;height:2em;background-size: 50%;}
   .bbs-today_thumb .etc{font-size: 13px;}
   .hire_top ol > li{width: 31.333333333333%;padding: 10px;height: 5.3em}
   .hire_top ol > li:before{left: -5%}
   .hire_top ol > li:nth-child(4):before{background: none}
   .hire_top ol > li:nth-child(4),.hire_top ol > li:nth-child(5){margin-top: 2%;}

   .bbs-list th{padding: .8em 5px}
   .bbs-list .date2{width: 5em}

   .hire_top .no{font-size: 1.3rem;}
   .hire_top .f38{font-size: 1.5rem;}
   .hire_top .cont .small{font-size: 13px;}

   .hall-btn_w .sect{padding: 5% 3%}
   .hall-btn_w .sect dt{padding: 0;display: block;
    width: 100%;
    position: static;
    margin-bottom: 1em;}
    .hall-btn_w .sect dd{border:0}
    .hall-btn_w .sect .float_w{padding: 0}
    .hall-btn_w .sect .float_w span{float: none;width: 100%;margin-top: .3em;}
    .hall-btn_w .sect .float_w span:first-child{margin-top: 0;}
    .hall_perform .bg{padding: 3.7em 0 8.7em 0}
    .hall-btn_w{margin-top: 8%;}
    .t_steps > li{padding-top: 8%;margin-top: 8%;}
    .t_steps > li > *{display: block}
    .t_steps .tit{width: 100%;margin-bottom: .8em;}
    .t_steps .tit strong{display: inline-block;margin: 0 0.3em 0 0;}
    .t_steps .cont{background-size: 3em;padding-left: 4.5em;}

    .tbl-fee_w{overflow: auto}
    .tbl-fee_w table{min-width: 30rem;}

    .tbl-hall_w{overflow: auto}
    .tbl-hall_w table{min-width: 26.250rem;}

    .lost_article .top{margin-bottom: 3em;}

    .paid3 .img,.paid3 .cont{float: none;width: 100%}
    .paid3 .img{padding-bottom: 67%;}
    .paid3 .cont{margin-top: 1em;}

		.login .form li input{padding-left: 2.8em;}
		.login .form li:before{left: 1rem}

		.login .etc span{padding-left: .5em; margin-left: .5em;}

		.find_member .top{text-align: left;}
		.find_member .top span{margin-left: 0;display: block;float: none}
.find_member .form > li{padding: 1em 0}
		.find_member .form > li > *{display: block;padding: 0}
		.find_member .form .tt{width: 100%;text-align: left;margin-bottom: .3em;}
		.join_agree .group .t{margin: 0.3em;}
		.join_agree .group .ck{position: static;display: block;text-align: right;margin-bottom: 1em;}
		.member_join .item,.member_join .item > *,.member_join .tel_w .tel,.member_join .tel_w{display: block;}
		.member_join .t{display: block;width: 100%;margin-bottom: .3em;}
		.member_join input[type="text"], .member_join input[type="password"],.member_join select,.member_join .small{width: 100%}
		.member_join .birth_w{margin-left: -3%}
		.member_join .tel,.member_join .birth{width: 100%}
		.member_join .birth > li{width: 30.33333333333%;margin: 0 0 0 3% !important;position: relative;padding-right: 1.5em}
		.member_join .tel > li{width: 30.33333333333%;margin: 0 0 0 3% !important;position: relative;}
		.member_join .tel,.member_join .birth > li select{width: 100% !important}
		.member_join .birth span{position: absolute;right: 0;bottom: 0;line-height: 3.75em;}
		.member_join .add .zipcode{width: 100%;padding-right: 5em;}
		.member_join .add .zipcode button{width: 5em;word-break: keep-all;padding: 0 10px}
		.member_join .add .a2 .l,.member_join .add .a2 .r{display: block;width: 100% !important;float: none !important}
		.member_join .add .a2,.member_join .add .a2 .r{margin-top: 5px;}

.member_join .agree_w,.member_join .agree_w dl > *{display: block;width: 100%}
.member_join .agree_w .ck_com{margin-top: .3em;}

.bbs-btn-st2{width: 10em}
.member_join .agree_w{margin: 3.5em 0}

.join_ok .box{padding: 5%;text-align: left;}
.join_ok .box > li{padding: 1em;}
.join_ok .box > li,.join_ok .box > li *{display: block; width: 100% !important}
.join_ok .box > li .t{margin-bottom: .5em;}
.join_type .group_w{display: block;margin-left: 0;}
.join_type > ul > li{float: none !important;display: block;width: 100% !important;margin-top: 1.5em;margin-left: 0;background-size: 18% !important}
.join_type > ul > li:first-child{margin-top: 0;}
.join_type .group_w a{padding-top: 30%;}
.mypage_confirm .section > li{float: none;display: block; width:100%;padding: 0}
.mypage_confirm .section:before{background: none}
.mypage_confirm .section > li.r{margin-top: 2.5em;padding-top: 2.5em;border-top: 1px solid #ccc;}
.mypage_confirm .item span{background-size: 3.5rem;padding-bottom: 6.3rem;}
.mypage_confirm .section{padding: 2.5em 0;margin-top: 3.5em}
.mypage_confirm .section .pop{margin-top: 3.5rem;}
.mypage_gift .item_w .item{padding: 5%}
.mypage_gift .item_w_radio .item{padding: 1rem 1rem 1rem 3rem;}
.mypage_gift .item_w_radio .item input{    left: 1rem;
    top: 1.333rem;}
.rel.tit-st4 .ab{display: block;position: static;margin-top: 1em;text-align: right;}
.rel.tit-st4 button.ab{text-align: center;}

.bbs-mypage_w.f18 .bbs-list2,.bbs-txt{font-size: 1rem;}
.bbs-list2 .no{width: auto}
.bbs-list2 .del_w{width: 6.7em}
.bbs-list2 .del{width: 100%}

.pop_settings .t{width: 100%;margin-bottom: .8em;}
.pop_settings > .group > *{display: block;width: 100%}
.mypage_sns .group{padding: 5%;display: block;}
.mypage_sns dl > *{display: block;width: 100%}
.mypage_sns dt{width: 100%;line-height: 2.4em;}
.mypage_sns .group a{width: 5em}
#loc li{padding-left: 10px;margin-left: 10px;}

.tabs-st4.li6 > li{width: 33.33333333%}
.cal-select button{font-size: .8em;}
.cal-select strong{margin: 0 10px;}
.bbs-reply_s .tit .rel{padding-right:0}
.bbs-reply_s .tit .rel:after{clear: both;display: block;content: ''}
.bbs-reply_s .tit button{position: static;height: 1.8em;margin-top: 8px;font-size: 11px;float: right;}
.bbs-reply_s .etc span{padding-left: 5px;margin-left: 5px;}
.schedule_btn .w1{width: 100%;display: block;float: none;}
.schedule_btn .w2{display: none;}

.cut_w{padding: 5px}
.cut_thumb{padding: 5px}
.sv_top{padding: 2.5em 0 0 0;background: 0;border:0;margin-bottom: 3.5em;}
.sv_top .poster{position: relative;margin: 0 auto 1.5em auto; width: 50%}
.sv_top .poster_wrap{position: relative;margin: 0 auto 1.5em auto; width: 50%}
.sv_top .tit{position: static;padding-top: 0;}
.sv_top .sns{top: -2.5em}
.sv_top .txt{min-height: auto}
.sv_top .schedule_btn2{display: none;}

.bbs-view_schedule .btn{text-align: center;font-size: 1.111em;margin-top: 1.5em;}
.bbs-view_schedule .btn li{}
.bbs-view_schedule .btn li.half{float: left; width: 50%}
.bbs-view_schedule .btn li.half:first-child{border-right: 1px solid #dfdfdf;}
.bbs-view_schedule .btn button{display: block;background: #eee;color:#000;line-height: 3.5em;width: 100%}
.bbs-view_schedule .btn button.btn-pop_m{background:#fee800 !important; color:#000 !important; border:1px solid #000;}
    .bbs-view_schedule .btn button.pac{    background: #8936e0 !important;
    color: #fff !important; margin-top: 5px;
    
}
.bbs-view_schedule .btn .bg-green2{margin-top: 5px;}
.bbs-view_schedule .mg{position: fixed;max-height: 100%;overflow-y: auto;background: #fff;width:100%;bottom:-100%
}
.schedule_com{border-color: #ccc; padding: 1rem}
.schedule_com .bg{background: #fff}

.review{padding-left: 150px;background-position: left 30px center;background-size: 80px auto;}

.schedule_cont .ticket_com .group{padding: 0;border:0}
.schedule_com .seat, .schedule_com .dis{padding: 5px}
.location .tit{padding: 5% .933rem}
.location .tit .t dt{font-size: 1.8em;}
.sketch_write .t h3, .tit-st4, .tabs_map_w .p_t, .facility .flex .t, .facility .store .top .tit, .happy_call .tit, .lost_article .steps .t, .ticket_com .tit, .etq .t{font-size: 1.5em;}
#today{background-size: auto 50%}
#today .s{padding-bottom:28px;}
#today .s .item{width: 10em}
.bbs-today_w .bot{padding: 1rem 0}
.login .half_w > li.r{margin-top: 2.5em; padding-top: 2.5em; border-top:1px solid #000}
.sns_join li{float: none;width: 100%;margin-top: 10px;border:1px solid #ccc;padding: .8em}
.sns_join a{    padding: 1.5em 0 1.5em 6.3em;}
.sns_join .icon{width: 4.5em; height: 4.5em;margin-top: -2.25em;background-size:87% !important}
.sns_join .tit-st4{margin-bottom: 1.5em;}
.member_join .ck_id{_padding-right: 5em;position:relative;}
.member_join .ck_id button{position: absolute;right: 0;top:0;width:5em; _height:100%;}

.sound_intro strong br{display: none;}
.sound_intro ul{margin-left: 0;}
.sound_intro li{float: none;width: 100%;margin: 3% 0 0 0;}
.sound_intro li:first-child{margin-top: 0;}
.sound_intro ul a{padding: 5%}
.sound_intro img{    margin: 0 auto 3% auto;width: 5em}
.sound_intro .tit{margin-bottom: 3em;}

.ticket_com .bbs-btn-st1{width: 100%;margin-top: 5px;}
.ticket_com .bbs-btn-st1:first-child{margin-top: 0;}
.bbs-faq .t{background-size: 1rem;padding-right: 1.8em;}
.bbs-faq .a{padding: 5%}

.steps-st1{max-width:305px}

.info_fee{padding: 1em}
.info_fee > li{float: none;width: 100%}
.info_fee > .if2{border-left: 0; border-top: 1px solid #d1d1d1;padding-top: 3.8em;margin-top: 1em;background-position: center 1em}
.bbs-perform_survey .score span{display: block;}
.bbs-perform_survey .score{width: 7em}
.bbs-perform_survey .t1_2{width: auto}
.bbs-perform_survey .foot .score{width: 100%}
.bbs-perform_survey .foot .score span{display: inline-block;}
.item3 .bbs-btn-st1{    width:31.3333333%;min-width: 1px}
.hall_perform.outside .imgs > li{width: 48%}

.bbs-category select, .bbs-sch,.bbs-sch_w-st1 > button,.bbs-category select,.bbs-sch_w-st1 > .btn{height: 3em}
.bbs-sch_w-st1 > .btn{line-height: 2.87em;}
.bbs-category .bbs-sch_w .btn{line-height: 3.15em;}
.bbs-category .select_w button{height: 3rem}
.bbs-category.btn_w{padding: 4.5em 0 0 7.9em;}
.bbs-category.select.btn_w select{bottom: 0;top:auto}
.bbs-list td.tit{font-size: 1em;}
.tabs_map_w > ul > li{padding: 1rem}
.mypage_top_w{margin-bottom: 1.5em;}

.pop_com .cont{padding: 1rem}
.pop_gift_info .cont{padding: 1.5rem 1rem}
.pop_gift_info .steps > li{margin-top: 1.5rem;padding-top: 1.5rem;}
.myapge_customer .steps{margin: 30px 0;display: flex;flex-wrap:wrap;margin-left: -2%;}
.myapge_customer .steps .group{float: left; width: 48%;margin: 2% 0 0 2%;padding: 0}
.myapge_customer .steps .group .bg{width: 100%;height: 6.7em;border-right: 0;border-bottom: 1px solid #000;position: relative;}
.myapge_customer .steps .cont{padding: 1rem}
.myapge_customer .steps .cont .tit{margin-bottom: .3em;}
.f26,.citizen_new .tit{font-size: 1.3rem;}

.pop_gift_info .tit-st2{padding: 20px;font-size: 1.625em;}
.pop_gift_info .tit-st2 button{right: 20px}
.pop_gift_info .steps{font-size: 1.3em;}
.pop_gift_info .foot{padding: 1.5rem}
.pop_gift_info .foot p{margin-top: 1.15rem;}

.bbs-today_w .top{margin-bottom: 1em;}
.bbs-today_thumb > li{width: 48%;padding: .5em}
.total-sch .form{padding: 0;height: auto}
.total-sch .form select,.total-sch .form .btn{width: 100%;position: static;}
.total-sch .form select, .total-sch .form input{height: 3.8em}
.total-sch .form input{margin: 5px 0;}
.total-sch .form button{height: 3em}

.steps_service{margin-left: 0;}
.steps_service li{padding: 5%; width: 100%;margin-left: 0;}

.bbs-btn-st2{height: 3.7em}

.tbl-st1 th, .tbl-st1 td{padding: 10px 5px}

#remainpop .tit{font-size: 1.5em;}

.step ul li:before{display: none;}

.tabs-st3{margin-bottom: 1.5em;}
#top_sch{font-size: 1.3em;padding: 1.5em 1rem 1.15em 1rem}
#top_sch .sch input{padding: 0 5px}

.outside .top{margin-bottom: 35px;}

.citizen_new .tit{padding: 30px 1rem}

.f24{font-size: 1.18rem !important;}
.find_confirm .bg{padding: 8%;margin-top: 5%;}
.find_confirm .in{padding:0 5rem 0 0}
.find_confirm .in label{display: none;}
.find_confirm .in input{padding: 0 5px}
.find_confirm .in button{width: 5rem}

.bbs-sketch .del{font-size: 13px;    position: static;
    height: 35px;
    margin-top: 15px;}
    .bbs-sketch .del span{padding-left: 1.5em;    background-size: 1em; float: right;}
    
    #popup_layer{max-width:100%;left: 0;padding: 10% 2.5%}
    #popup_layer .pop_l{margin:0 auto 10px auto;}
    
	.bbs-btn_w.mt.flr .bbs-btn-st2{width: 6.7em}
	
	.bbs-mypage.inner{padding:0 1rem}
	.bbs-mypage .slick-prev{left: -.7rem}
	.bbs-mypage .slick-next{right: -.7rem}
	.bbs-mypage .hover .btns{font-size: .87em;}
	.word_w .box{font-size: 13px;}
	.word_w .box > li{padding-left: 10px; padding-right: 10px;}
	#top_sch .bbs-today_thumb > li:nth-child(2){display: none;}
	#top_sch .bbs-today_thumb > li{width: 98%}
	#top_sch .sch_txt{font-size: 1rem;}
	#top_sch .sch_txt .bul-mark{padding-left: 1.3em;}
	.bbs-total{padding: 5% 3%}
	
	.my_sch > ul > li{display: block;}
	.my_sch .btns{width: 100%}
	
	.my_sch .l{padding-left: 4.5em;}
	.my_sch .l .t{padding: 0}
	
	.my_point_renew{margin-top: 3.5rem;}
	.my_sch .datepick{padding-right: 4rem}
	.my_sch .datepick li button{width: 2rem; left: 10px}
	.my_sch .datepick li button img{max-width:80%; margin: 0 auto; display: block;}
	.my_sch .datepick input{padding-left: 2.8rem;}
	.my_sch .datepick .view{width: 3.5rem}
.my_sch .btns > button, .my_sch .datepick input{height: 3rem}
.my_sch .datepick .dash{line-height: 3rem;}
.grade_graph{text-align: center;}
.grade_graph .c{padding-left: 0; margin-top: 5px;}
.grade_graph .t .octagon_w,.grade_graph .t strong{display: block;margin: 0 auto;}
.grade_graph .t strong{margin-top: 5px;}

.rel.tit-st4 .ab.btn{display: block; width: 100%; text-align: center;}
.btn-member_w.dib{display: block;}
.schedule_cont.new .tabs-st4.li5 > li{width: 33.3333%}
.schedule_cont.new .tabs-st4.li5 > li:nth-child(n+4){border-top: 1px solid #000; width: 50%;}

.sv_top .in{display: block}
.sv_top .txt{margin:0}
.perform_line{display: block}
.perform_line .t{display: block; width: 100%; margin-bottom: 5px; margin-top: 0; margin-left: 0;}
.perform_line .txt{padding-left: 0; border-left: 0;}

	.ticket_info .tit{width: 100% !important; margin-bottom: 20px;}
	.ticket_info .cont{width: 100% !important;border-top: 0;padding-top: 0;}

   .facility_org .group{margin-top: 2.5em;}
   .facility_org .group .l,.facility_org .group .r{float: none;width: 100%}
   .facility_org .group .txt{padding: 1.5em 0 0 0 !important}
   
   .facility_org .box-st2{padding: 8%;}
   
   .tabs-st1.li3 > li,.tabs-st1.li5 > li{width: 50%}
   .tabs-st1.li3 > li:last-child,.tabs-st1.li5 > li:last-child{width: 100%}
   .tabs-st1 > li:before{background: none !important}
   
   .tabs-st1{border:0; border-top: 1px solid #000; border-left: 1px solid #000;}
   .tabs-st1 > li{border:0; border-right: 1px solid #000; border-bottom: 1px solid #000;}
      
}
@media (max-width:480px){
  .visible-sm-inline{display:inline;}
  .bbs-list th.hit,
  .bbs-list td.hit{display:none;}
  .bbs-today_w .bot span{height: 27px}
	.review{background-image: none; padding-left: 20px;}
	
	/* .intro-l .baru a{font-size: 20px;background: #000 url(/static/portal/img/perform/intro/line-y.png) 200px center no-repeat;width: 260px;} */
	.intro-l .baru a{font-size: 16px;background: #000;width: 200px;border-radius: 10px;text-align: center;}
	.intro-r .btns{bottom: 17%;}
	.intro-r .btns .butt{width: 140px;height: 60px;line-height: 60px;border-radius: 10px;}
   .intro-r .btns .butt > div{font-size: 16px;}
   /* .intro-r .btns .butt.res {background: #ff1619 url(/static/portal/img/perform/intro/line-w.png) center 38px no-repeat;}
   .intro-r .btns .butt.det {background: #fff url(/static/portal/img/perform/intro/line-b.png) center 38px no-repeat;} */
   .intro-r .btns .butt.res {background: #ff1619;}
   .intro-r .btns .butt.det {background: #fff;}
   .intro-r .btns .butt{width: 140px;height: 40px;line-height: 40px;border-radius: 10px;}
   .intro-r .btns .butt > div{top: 0;}
	.intro-r .text{font-size: 1.2em;width: 50%;right: 15px;}
	.intro-r .text li:nth-child(2){margin-top: 27%;}
}
@media (max-width:420px){
	.location .tit .t .link a{width: 100%;display: block;float: none;}
	.location .tit .t .link a.naver{margin: 5px 0 0 0;}


   .hire_top ol > li:before{left: -6.7%}
   
   /* .intro-l .baru a{font-size: 15px;background: #000 url(/static/portal/img/perform/intro/line-y.png) 150px center no-repeat;width: 210px;} */
   .intro-l .baru a{width: 180px;}
	.intro-r .btns .butt{width: 100px;margin: 0 12px;}
	
   
}
@media (max-width:380px){
html{font-size: 13px;}
.steps-st1{max-width:270px}
.intro-r .text{font-size: 1em;}
}
@media (max-width:350px){
#logo{margin-left: -1em;}
}
@media (max-width:320px){
html{font-size: 12px;}
}